﻿@model Targpiast.Models.News

@{
    var controller = Model.NewsCategory.NewsCategoryName == "Aktualności" ? "News" : "Eco";
    var action = Model.NewsCategory.NewsCategoryName == "Aktualności" ? "News" : "SingleNews";
}

<style>
    #createShortText {
        margin-left: 0
    }
</style>

<section>
    <div class="container">
        <!-- GENERAL FORM -->
        <div id="editArea" class="panel panel-light margin-bottom60">

            <div class="panel-heading">
                <h3 class="panel-title bold"> Dodaj wydarzenie <small>Wydarzenia Targpiast</small></h3>
            </div>

            <div class="panel-body">

                @using (Html.BeginForm("UploadTempPhoto", "News", FormMethod.Post, new {@class = "dropzone dz-clickable", id = "dropzone-form", style = "margin-left:30px; margin-right:30px"}))
                {
                    <section>
                        <div id="dropzone">
                            <div class="dz-message">
                                Przeciągnij tutaj zdjęcie tytułowe dla <strong>wydarzenia</strong>.
                            </div>
                        </div>
                    </section>
                }


                @using (Html.BeginForm("ModifyNews", controller, null, FormMethod.Post, new {@class = "sky-form", id = "ModifyNewsForm"}))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new {@class = "text-danger"})
                    
                    @Html.HiddenFor(p => p.NewsIncludeOnMain)
                    @Html.HiddenFor(p => p.NewsId)
                    @Html.HiddenFor(p => p.NewsCreatedDate)
                    @Html.HiddenFor(p => p.NewsEditedDate)
                    @Html.HiddenFor(p => p.NewsTitlePhotoId)

                    <fieldset>
                        <section>
                            <label class="label">Tytuł</label>
                            <label class="input">
                                @Html.TextBoxFor(p => p.NewsTitle, new {placeholder = "Tytuł..."})
                            </label>
                        </section>

                        <section>
                            <section>
                                <label class="label">Czy umieścić wydarzenie na stronie startowej ?</label>
                                <div class="inline-group">
                                    <label class="radio"><input id="yesRadio" type="radio" name="radio-main" value="1" checked><i></i>TAK</label>
                                    <label class="radio"><input id="noRadio" type="radio" name="radio-main" value="0"><i></i>NIE</label>
                                </div>
                            </section>
                        </section>

                        <section>
                            <label class="label">Typ wydarzenia</label>
                            <div class="inline-group">
                                <label class="radio"><input id="newsRadio" type="radio" name="radio-inline" value="1" disabled="disabled"><i></i>Wydarzenia</label>
                                <label class="radio"><input id="ecoRadio" type="radio" name="radio-inline" value="2" disabled="disabled"><i></i>Eco wydarzenia</label>
                            </div>
                        </section>
                    </fieldset>

                    <fieldset>
                        <section>
                            <label class="label">Skrócona treść wydarzenia</label>
                            @Html.TextAreaFor(p => p.NewsShortText, new {@class = "summernote form-control special"})
                        </section>
                    </fieldset>
                    <fieldset>
                        <section>
                            <button type="button" class="btn btn-primary btn-lg btn-block js-copy-short-news">Skopiuj tekst do górnego okna <i class="fa fa-arrows-v" aria-hidden="true"></i></button>
                        </section>
                    </fieldset>
                    <fieldset>
                        <section>
                            <label class="label">Treść wydarzenia</label>
                            @Html.TextAreaFor(p => p.NewsText, new {@class = "summernote form-control special"})
                        </section>
                    </fieldset>

                    <div id="ErrorMessage" class="col-md-12  padding-top10"></div>

                    <footer>
                        <div class="col-sm-12 col-md-6 padding-top10">
                            @if (Model.NewsId == 0)
                            {
                                <button type="button" class="btn btn-success full-td-button js-submit-news-form">Dodaj news</button>
                            }
                            else
                            {
                                <button type="button" class="btn btn-success full-td-button js-submit-news-form">Zapisz zmiany</button>
                            }
                        </div>
                        <div class="col-sm-12 col-md-6 padding-top10">
                            <button type="button" class="btn btn-primary full-td-button" onclick="window.history.back();">Anuluj</button>
                        </div>
                    </footer>
                }
            </div>

        </div>
        <!-- /GENERAL FORM -->
    </div>
</section>

<!--SUMMERNOTE tylko tutaj jest używane-->
<script src="~/Content/assets/plugins/summernote/summernote.js"></script>


<script>
    var DIV_START =
        "<div class='alert alert-danger'><button type='button' class='close' data-dismiss='alert'><span aria-hidden='true'>&times;</span><span class='sr-only'>Close</span></button>";
    var DIV_END =
        "</div>";

    Dropzone.options.dropzoneForm = {
        paramName: "file",
        maxFilesize: 5,
        maxFiles: 1,
        acceptedFiles: "image/*",
        dictMaxFilesExceeded: "Może być tylko jedno zdjęcie tytułowe",
        dictFileTooBig: "Zdjęcie jest za duże ({{filesize}}MB). Maksymalny rozmiar zdjęcia to: {{maxFilesize}}MB."
    };

    $(document).ready(function () {

        if ('@controller' === "News") {
            $('#newsRadio').prop("checked", true);
        } else {
            $('#ecoRadio').prop("checked", true);
        }

    });

    $(".js-copy-short-news").on("click", function () {
        var text = $('.note-editable')[1].innerHTML;
        $('.note-editable')[0].innerHTML = text;
    });

    $(".js-submit-news-form").on("click", function () {

        var url = '@Url.Action("ModifyNews", controller)';

        var include;

        if ($("#yesRadio").is(':checked')) {
            include = true;
        } else {
            include = false;
        }

        var dataIn = {
            NewsId: $("#NewsId").val(),
            NewsCategory: null,
            NewsTitle: $("#NewsTitle").val(),
            NewsIncludeOnMain: include,
            NewsTitlePhotoId: $("#NewsTitlePhotoId").val(),
            NewsShortText: $('.note-editable')[0].innerHTML,
            NewsText: $('.note-editable')[1].innerHTML,
            NewsCreatedDate: $("#NewsCreatedDate").val(),
            NewsEditedDate: $("#NewsEditedDate").val()
        };

        $.ajax({
            url: url,
            type: "POST",
            cache: false,
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify(dataIn),
            before: $("#editArea").busyLoad("show"),
            success: function (result) {
                if (result.OK) {
                    window.location.href = '@Url.Action(action, controller)' + '?articleId=' + result.ID;
                } else {
                    if (result.Errors != undefined) {

                        var errorModalHtml = DIV_START;
                        $.each(result.Errors, function (index, value) {
                            errorModalHtml += value;
                            errorModalHtml += "<br />";
                        });
                        errorModalHtml += DIV_END;

                        $("#ErrorMessage").append(errorModalHtml);
                    }
                }
                $("#editArea").busyLoad("hide");
            }
        });
    });
</script>

