﻿<canvas id="DonutChartLastMonthDevices"> </canvas>

<script>
    $.ajax({
        type: "POST",
        url: '@Url.Action("DevicesLastMonth")',
        contentType: "application/json; charset=utf-8",
        dataType: "json",
        success: function (chData) {
            var dataT = {
                labels: chData[0],
                datasets: [
                    {
                        data: chData[1],
                        backgroundColor: chData[2]
                    }
                ]
            };
            var ctx = $("#DonutChartLastMonthDevices");

            // ReSharper disable once UnusedLocals
            var prototype = new Chart(ctx, {
                type: 'doughnut',
                data: dataT,
                options: {
                    responsive: true,
                    legend: {
                        position: 'top'
                    },
                    title: {
                        display: true,
                        text: 'Urządzenia'
                    },
                    animation: {
                        animateScale: true,
                        animateRotate: true
                    },
                    tooltips: {
                        callbacks: {
                            label: function (tooltipItem, data) {
                                var dataset = data.datasets[tooltipItem.datasetIndex];
                                var total = dataset.data.reduce(function (previousValue, currentValue) {
                                    return parseInt(previousValue) + parseInt(currentValue);
                                });
                                var currentValue = dataset.data[tooltipItem.index];
                                var percentage = (currentValue / total) * 100;
                                return percentage.toFixed(2) + "%";
                            }
                        }
                    }
                }
            });
        }
    });
</script>  
