﻿<canvas id="LineChartHourAvarageVisits"> </canvas>

<script>
    $.ajax({
        type: "POST",
        url: '@Url.Action("LineChartHourAvarageVisits")',
        contentType: "application/json; charset=utf-8",
        dataType: "json",
        success: function (chData) {
            var dataT = {
                labels: chData[0],
                datasets: [
                    {
                        label: "Odsłony",
                        backgroundColor: Color(window.chartColors.blue).alpha(0.5).rgbString(),
                        borderColor: window.chartColors.blue,
                        data: chData[1]
                    }
                ]
            };
            var ctx = $("#LineChartHourAvarageVisits");

            // ReSharper disable once UnusedLocals
            var prototype = new Chart(ctx, {
                type: 'line',
                data: dataT,
                options: {
                    responsive: true,
                    title: {
                        display: true,
                        text: 'Statystyka odwiedzin'
                    },
                    tooltips: {
                        mode: 'index',
                        intersect: false
                    },
                    hover: {
                        mode: 'nearest',
                        intersect: true
                    },
                    scales: {
                        xAxes: [{
                            display: true,
                            scaleLabel: {
                                display: true,
                                labelString: 'Godzina'
                            }
                        }],
                        yAxes: [{
                            display: true,
                            scaleLabel: {
                                display: true,
                                labelString: 'Ilość'
                            }
                        }]
                    }
                }
            });
        }
    });
</script>  
