﻿<canvas id="BarChartMostVisits"> </canvas>

<script>
    $.ajax({
        type: "POST",
        url: '@Url.Action("BarChartMostVisited")',
        contentType: "application/json; charset=utf-8",
        dataType: "json",
        success: function (chData) {
            var dataT = {
                labels: chData[0],
                datasets: [
                    {
                        label: "Ilość odwiedzin",
                        backgroundColor: Color(window.chartColors.red).alpha(0.5).rgbString(),
                        borderColor: window.chartColors.red,
                        borderWidth: 1,
                        data: chData[1]
                    }
                ]
            };

            var ctx = $("#BarChartMostVisits");
            // ReSharper disable once UnusedLocals
            var prototype = new Chart(ctx, {
                type: 'horizontalBar',
                data: dataT,
                options: {
                    elements: {
                        rectangle: {
                            borderWidth: 2
                        }
                    },
                    responsive: true,
                    legend: {
                        position: 'right'
                    },
                    title: {
                        display: true,
                        text: 'Najpopularniejsze strony'
                    }
                }
            });
        }
    });
</script>  
