﻿<canvas id="LineChartLastMonthVisits"> </canvas>

<script>
    $.ajax({
        type: "POST",
        url: '@Url.Action("LineChartLastMonthVisits")',
        contentType: "application/json; charset=utf-8",
        dataType: "json",
        success: function (chData) {
            var dataT = {
                labels: chData[0],
                datasets: [
                    {
                        label: "Sesje",
                        backgroundColor: window.chartColors.red,
                        borderColor: window.chartColors.red,
                        data: chData[1],
                        fill: false
                    },
                    {
                        label: "Użytkownicy",
                        backgroundColor: window.chartColors.blue,
                        borderColor: window.chartColors.blue,
                        data: chData[2],
                        fill: false
                    },
                    {
                        label: "Nowi użytkownicy",
                        backgroundColor: window.chartColors.green,
                        borderColor: window.chartColors.green,
                        data: chData[3],
                        fill: false
                    },
                    {
                        label: "Odsłony",
                        backgroundColor: window.chartColors.purple,
                        borderColor: window.chartColors.purple,
                        data: chData[4],
                        fill: false
                    }
                ]
            };
            var ctx = $("#LineChartLastMonthVisits");

            // ReSharper disable once UnusedLocals
            var prototype = new Chart(ctx, {
                type: 'line',
                data: dataT,
                options: {
                    responsive: true,
                    title: {
                        display: true,
                        text: 'Statystyka odwiedzin'
                    },
                    tooltips: {
                        mode: 'index',
                        intersect: false
                    },
                    hover: {
                        mode: 'nearest',
                        intersect: true
                    },
                    scales: {
                        xAxes: [{
                            display: true,
                            scaleLabel: {
                                display: true,
                                labelString: 'Dzień miesiąca'
                            }
                        }],
                        yAxes: [{
                            display: true,
                            scaleLabel: {
                                display: true,
                                labelString: 'Ilość'
                            }
                        }]
                    }
                }
            });
        }
    });
</script>  
