﻿@{
    ViewBag.Title = "Statystyki";
}

<script src="~/Scripts/Chart.min.js"></script>

<script>
    window.chartColors = {
        red: 'rgb(255, 99, 132)',
        orange: 'rgb(255, 159, 64)',
        yellow: 'rgb(255, 205, 86)',
        green: 'rgb(75, 192, 192)',
        blue: 'rgb(54, 162, 235)',
        purple: 'rgb(153, 102, 255)',
        grey: 'rgb(201, 203, 207)'
    };
</script>  

<section>
    <div class="container">
        <h2 class="page-title">
            Statystyki witryny
        </h2>
        <div class="tabs nomargin-top" style="height: 640px">
            <!-- tabs -->
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#tab1_nobg" data-toggle="tab">
                        Odwiedziny
                    </a>
                </li>
                <li>
                    <a href="#tab2_nobg" data-toggle="tab">
                        Najpopularniejsze strony
                    </a>
                </li>
                <li>
                    <a href="#tab3_nobg" data-toggle="tab">
                        Godziny odwiedzin
                    </a>
                </li>
                <li>
                    <a href="#tab4_nobg" data-toggle="tab">
                        Najpopularniejsze przeglądarki
                    </a>
                </li>
                <li>
                    <a href="#tab5_nobg" data-toggle="tab">
                        Urządzenia
                    </a>
                </li>
            </ul>

            <!-- tabs content -->
            <div class="tab-content transparent">
                <div id="tab1_nobg" class="tab-pane active">
                    @Html.Partial("_Visits")
                </div>
                
                <div id="tab2_nobg" class="tab-pane">
                    @Html.Partial("_MostVisits")
                </div>

                <div id="tab3_nobg" class="tab-pane">
                    @Html.Partial("_HourVisits")
                </div>

                <div id="tab4_nobg" class="tab-pane">
                    @Html.Partial("_Browsers")
                </div>
                
                <div id="tab5_nobg" class="tab-pane">
                    @Html.Partial("_Devices")
                </div>
            </div>
        </div>
    </div>
</section>
