﻿@model Targpiast.Models.Localization

<div class="col-md-12">
    <h4>@Model.LocalizationName</h4>
    <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <th><i class="fa fa-building pull-right hidden-xs"></i> Nazwa operatora</th>
                <th><i class="fa fa-opencart pull-right hidden-xs"></i> Asortyment</th>
                <th><i class="fa fa-thumb-tack pull-right hidden-xs"></i> Numer stanowiska</th>
                <th><i class="fa fa-envelope-o pull-right hidden-xs"></i> Dane kontaktowe</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var objOperator in Model.Operators)
            {
                <tr>
                    <td>@objOperator.OperatorName</td>
                    <td>@objOperator.ProductCategory</td>
                    <td>@objOperator.ObjectNumber</td>
                    <td>@Html.Raw(objOperator.ContactDataWitUrls)</td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>

