﻿@model IEnumerable<Targpiast.Models.Localization>

@{
    ViewBag.Title = "Spis operatorów";
}

<section class="std-page-header bg6"></section>

<section id="providers-list">
    <div id="editArea" class="container">
        <header>
            <h2>
                Spis operatorów
            </h2>
        </header>
        @if (User.Identity.IsAuthenticated)
        {
            using (Html.BeginForm("AddLocalization", "Operator", FormMethod.Post, new { id = "AddLocalization" }))
            {
                <div class="col-sm-12 col-md-12 padding-top10">
                    <button type="button" class="btn btn-success full-td-button js-modify-operators"> Zapisz zmiany</button>
                </div>

                <div id="ErrorMessage" class="col-md-12  padding-top10"></div>

                <div class="col-sm-12 col-md-12 padding-top10">
                    <div class="divider half-margins"><!-- divider 30px --></div>
                </div>

                <div class="col-sm-12 col-md-4 padding-top10">
                    <button type="button" class="btn btn-success full-td-button js-add-localization"> Dodaj nową lokalizację</button>
                </div>
                <div class="col-sm-12 col-md-8 padding-top10">
                    @Html.TextBox("locName", "", new { @class = "full-td-button form-control", placeholder = "Nazwa nowej lokalizacji..." })
                </div>
                <br />
            }
            using (Html.BeginForm("ModifyOperators", "Operator", FormMethod.Post, new { id = "ModifyOperators" }))
            {
                <div class="col-sm-12 col-md-12 padding-top10">
                    <div class="divider half-margins"><!-- divider 30px --></div>
                </div>
                @Html.EditorForModel()
            }
        }
        else
        {
            foreach (var localization in Model)
            {
                @Html.Partial("_Localization", localization)
            }
        }
    </div>
</section>

<!-- modal dialog for Operators -->
<div class="modal fade" id="removeContentOperators" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <!-- modal header -->
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Usuń element</h4>
            </div><!-- /modal header -->
            <!-- modal body -->
            <div class="modal-body">
                Czy na pewno chcesz usunąć ten element ? Zmiany są nieodwracalne!
            </div>
            <!-- /modal body -->

            <div class="modal-footer">
                <!-- modal footer -->
                <button class="btn btn-default" data-dismiss="modal">Anuluj</button> <a id="deleteButtonLocalization" data-dismiss="modal" data-id="" data-mode="" type="button" href="#" class="btn btn-primary">Usuń</a>
            </div><!-- /modal footer -->
        </div>
    </div>
</div>

<script>
    var DIV_START =
        "<div class='alert alert-danger'><button type='button' class='close' data-dismiss='alert'><span aria-hidden='true'>&times;</span><span class='sr-only'>Close</span></button>";
    var DIV_END =
        "</div>";

    $(document).ready(function () {

        $("#deleteButtonLocalization").on("click",
            function () {
                ClearValidation();
                var $this = $(this),
                    id = $this.attr("data-id"),
                    mode = $this.attr("data-mode"),
                    url = $this.attr("href");

                $.ajax({
                    url: url,
                    before: $("#editArea").busyLoad("show"),
                    data: {
                        id: id
                    },
                    success: $('#' + mode + '-' + id).remove(),
                    complete: $("#editArea").busyLoad("hide")
                });
            });

        $("#providers-list").on("click",
            ".remove-row",
            function () {
                var $this = $(this),
                    id = $this.attr("data-id"),
                    mode = $this.attr("data-mode"),
                    $deleteButton = $("#deleteButtonLocalization");

                $deleteButton.attr("data-id", id);
                $deleteButton.attr("data-mode", mode);
                $deleteButton.attr("href", '@Url.Action("DeleteOperator", "Operator")');
            });

        $("#providers-list").on("click",
            ".remove-table",
            function () {
                var $this = $(this),
                    id = $this.attr("data-id"),
                    mode = $this.attr("data-mode"),
                    $deleteButton = $("#deleteButtonLocalization");

                $deleteButton.attr("data-id", id);
                $deleteButton.attr("data-mode", mode);
                $deleteButton.attr("href", '@Url.Action("DeleteLocalization", "Operator")');
            });

        $(".js-add-localization").on("click",
            function (e) {
                e.preventDefault();
                ClearValidation();

                var $form = $("#AddLocalization"),
                    url = '@Url.Action("AddLocalization", "Operator")';

                $.ajax({
                    url: url,
                    type: "POST",
                    cache: false,
                    data: $form.serialize(),
                    before: $("#editArea").busyLoad("show"),
                    success: function (result) {
                        if (result.OK) {
                            location.href = '@Url.Action("Index", "Operator")';
                        } else {
                            if (result.Errors != undefined) {

                                var errorModalHtml = DIV_START;
                                $.each(result.Errors,
                                    function (index, value) {
                                        errorModalHtml += value;
                                        errorModalHtml += "<br />";
                                    });
                                errorModalHtml += DIV_END;
                                ColorSingleLocValidationErrors();
                                $("#ErrorMessage").append(errorModalHtml);
                            }
                        }
                        $("#editArea").busyLoad("hide");
                    }
                });
            });

        $(".js-submit-form").on("click",
            function (e) {

                e.preventDefault();
                ClearValidation();

                var $this = $(this),
                    dataId = $this.attr("data-id"),
                    selectorTr = "#new-operator-form-" + dataId,
                    $tr = $(selectorTr),
                    model = {
                        OperatorName: $tr.find("#OperatorName").val(),
                        ObjectNumber: $tr.find("#ObjectNumber").val(),
                        ProductCategory: $tr.find("#ProductCategory").val(),
                        ContactData: $tr.find("#ContactData").val()
                    };

                ColorSingleRowValidationErrors($tr);

                $.ajax({
                    url: '@Url.Action("AddOperator", "Operator")',
                    type: "POST",
                    cache: false,
                    before: $("#editArea").busyLoad("show"),
                    data: {
                        model: model,
                        locId: dataId
                    },
                    success: function(result) {
                        if (result.OK) {
                            location.href = '@Url.Action("Index", "Operator")';
                        } else {
                            if (result.Errors != undefined) {

                                var errorModalHtml = DIV_START;
                                $.each(result.Errors,
                                    function (index, value) {
                                        errorModalHtml += value;
                                        errorModalHtml += "<br />";
                                    });
                                errorModalHtml += DIV_END;

                                $("#ErrorMessage").append(errorModalHtml);
                            }
                        }
                        $("#editArea").busyLoad("hide");
                    }
                });
            });

        $(".js-modify-operators").on("click",
            function (e) {

                e.preventDefault();
                ClearValidation();

                var $form = $("#ModifyOperators"),
                    url = '@Url.Action("ModifyOperators", "Operator")';

                $.ajax({
                    url: url,
                    type: "POST",
                    cache: false,
                    data: $form.serialize(),
                    before: $("#editArea").busyLoad("show"),
                    success: function (result) {
                        if (result.OK) {
                            location.href = '@Url.Action("Index", "Operator")';
                        } else {
                            if (result.Errors != undefined) {

                                var errorModalHtml = DIV_START;
                                $.each(result.Errors,
                                    function (index, value) {
                                        errorModalHtml += value;
                                        errorModalHtml += "<br />";
                                    });
                                errorModalHtml += DIV_END;

                                $("#ErrorMessage").append(errorModalHtml);
                                ColorValidationErrors();
                            }
                        }
                        $("#editArea").busyLoad("hide");
                    }
                });
            });
    });

    function ColorSingleLocValidationErrors() {

        var $this = $("input[name='locName']");
        if ($this.val() === undefined || $this.val() === "" || $this.val().length > 110) {
            $this.addClass("bg-input-validation");
        } else {
            $this.removeClass("bg-input-validation");
        }
    }

    function ColorSingleRowValidationErrors(tr) {
        
        var $this = tr.find("#OperatorName");
        if ($this.val() === undefined || $this.val() === "" || $this.val().length > 110) {
            $this.addClass("bg-input-validation");
        } else {
            $this.removeClass("bg-input-validation");
        }

        $this = tr.find("#ProductCategory");
        if ($this.val() === undefined || $this.val() === "" || $this.val().length > 100) {
            $this.addClass("bg-input-validation");
        } else {
            $this.removeClass("bg-input-validation");
        }

        $this = tr.find("#ObjectNumber");
        if ($this.val() === undefined || $this.val() === "" || $this.val().length > 20) {
            $this.addClass("bg-input-validation");
        } else {
            $this.removeClass("bg-input-validation");
        }

        $this = tr.find("#ContactData");
        if ($this.val().length > 110) {
            $this.addClass("bg-input-validation");
        } else {
            $this.removeClass("bg-input-validation");
        }
    }

    function ColorValidationErrors() {

        $("input[name$='.LocalizationName']").each(function () {
            var $this = $(this);
            if (this.value === undefined || this.value === "" || this.value.length > 30) {
                $this.addClass("bg-input-validation");
            } else {
                $this.removeClass("bg-input-validation");
            }
        });

        $("input[name$='.OperatorName']").each(function () {
            var $this = $(this);
            if (this.value === undefined || this.value === "" || this.value.length > 110) {
                $this.addClass("bg-input-validation");
            } else {
                $this.removeClass("bg-input-validation");
            }
        });

        $("input[name$='.ProductCategory']").each(function () {
            var $this = $(this);
            if (this.value === undefined || this.value === "" || this.value.length > 100) {
                $this.addClass("bg-input-validation");
            } else {
                $this.removeClass("bg-input-validation");
            }
        });

        $("input[name$='.ObjectNumber']").each(function () {
            var $this = $(this);
            if (this.value === undefined || this.value === "" || this.value.length > 20) {
                $this.addClass("bg-input-validation");
            } else {
                $this.removeClass("bg-input-validation");
            }
        });

        $("input[name$='.ContactData']").each(function () {
            var $this = $(this);
            if (this.value.length > 100) {
                $this.addClass("bg-input-validation");
            } else {
                $this.removeClass("bg-input-validation");
            }
        });
    }

    function ClearValidation() {
        $("#ErrorMessage").empty();
        $(".bg-input-validation").each(function () {
            $(this).removeClass("bg-input-validation");
        });
    }
</script>

