﻿@model Targpiast.Models.Product

<tr>
    @using (Html.BeginForm("AddProduct", "Price", new { plId = ViewBag.PriceListId }, FormMethod.Post, new {id = "newProductForm"}))
    {
        <td class="fullfill">@Html.EditorFor(p => p.ProductName, new { htmlAttributes = new { @class = "full-td-editor form-control" } })</td>
        <td class="fullfill">@Html.EditorFor(p => p.Price, new { htmlAttributes = new { @class = "full-td-editor form-control" } })</td>
        <td class="fullfill">@Html.EditorFor(p => p.Unit, new { htmlAttributes = new { @class = "full-td-editor form-control" } })</td>
        <td class="fullfill"><input type="submit" class="btn btn-sm btn-success js-add-row full-td-button" value="Dodaj" /></td>
    }
</tr>