﻿@model Targpiast.Models.Product

<tr id="@Model.ProductId">
    @Html.HiddenFor(p => p.ProductId)
    <td class="fullfill">@Html.EditorFor(p => p.ProductName, new { htmlAttributes = new { @class = "full-td-editor form-control" } })</td>
    <td class="fullfill">@Html.EditorFor(p => p.Price, new { htmlAttributes = new { @class = "full-td-editor form-control" } })</td>
    <td class="fullfill">@Html.EditorFor(p => p.Unit, new { htmlAttributes = new { @class = "full-td-editor form-control" } })</td>
    @Html.HiddenFor(p => p.PriceList)
    <td class="fullfill">
        <a type="button" href="#"
           data-toggle="modal"
           data-target="#removeContentPriceList"
           data-id="@Model.ProductId"
           class="btn btn-primary remove-row full-td-button"><i class="icon-trash icon-large"></i>Usuń</a>
    </td>
</tr>




