﻿/* 
 * TEMPLATE MODIFICATION
 */

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.bold {
    font-weight: bold;
}

.fit {
    width: 1%;
}

.list-unstyled {
    font-size: 16px;
    padding: 0 0 0 25px;
    font-weight: 300;
    margin: -10px 0 20px 0;
    line-height: 24px;
}

/* FLEXBOX */
.display-flex { display: flex; }
.space-between { justify-content: space-between; }
.flex-start { justify-content: flex-start; }

#topNav ul.nav > li a {
    padding: 15px 10px;
}

/* -lg */
/* container: 1170px */
@media (min-width: 1200px) {
    #topNav ul.nav > li a {
        padding: 15px 20px;
    }
}

#topNav ul.nav > li > a > span {
    display: inline-block; /* change to BLOCK to achieve default behaviour */
}

/* 
 * TP CUSTOM STYLES
 */

/* LOGO */
#topBar a.logo {
    color: #666666;
    font-size: 24px;
    font-weight: 300;
}

#topBar a.logo img {
    margin: 0 30px 0 20px;
}

#topBar a.logo .bold {
    color: #ed1b24;
    font-size: 24px;
    font-weight: 600;
    margin: 0;
}

.logo-txt {
    display: none;
}

/* -md */
/* container: 970px; */
@media (min-width: 992px) {
    .logo-txt {
        display: inline;
    }
}

#topBar a:hover {
    text-decoration: none;
}
/* /LOGO */

/* REUSABLE */
strong {
    color: #ed1b24;
    font-size: 26px;
    font-weight: 600;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

h2 {
    color: #ed1b24;
    font-size: 26px;
    line-height: 26px;
    font-weight: 600;
    border-bottom: 1px solid #eeeeee;
    padding: 0 0 5px 0;
    letter-spacing: 0;
}

h2.page-title {
    margin-bottom: 25px;
}

p {
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
}

.padding-right-30 {
    padding-right: 30px;
}

.padding-left-30 {
    padding-left: 30px;
}

h1, .h1, h2, .h2, h3, .h3 {
  margin-bottom: 15px;
}

/* /REUSABLE */

/* BANNER */

/* Slide 1 */
.banner-bg {
    background-color: rgba(255, 255, 255, 0.75);
    margin: 40px 0 0 0;
    height: 250px;
    width: 100%;
    display: block;
}

.banner-welcome {
    margin: 40px 0 0 0;
}

.banner-welcome img {
    display: block;
    height: 37px;
    margin: 40px auto 30px auto;
    width: 274px;
}

.banner-welcome h2 {
    border-bottom: 2px solid #ed1b24;
    color: #252525;
    display: inline-block;
    font-size: 36px;
    font-weight: 600;
    margin: 0;
    padding: 0;
    width: auto;
    padding: 0 0 15px 0;
    margin: 0 0 15px 0;
}

.banner-welcome p {
    color: #252525;
    font-size: 18px;
    font-weight: 400;
}

.tp-caption .discover-tp-link, .tp-caption .discover-tp-link:visited, .tp-caption .discover-tp-link:link, .tp-caption .discover-tp-link:active {
    background-color: rgba(237, 27, 36, 0.75);
    color: #fff;
    padding: 15px 50px 15px 50px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
    border: 6px solid rgba(255, 255, 255, 0.75);
    margin: 20px 0 0 0;
    display: inline-block;
}

.tp-caption .discover-tp-link:hover {
    background-color: rgba(237, 27, 36, 0.9);
    border: 6px solid rgba(255, 255, 255, 0.9);
    color: #fff;
}
/* /Slide 1 */

/* Slide 2 */
.banner-bg-mov {
    margin: 40px 0 0 0;
    width: 100%;
    display: block;
}

.tp-video-iframe {
    border-radius: 3px;
    box-shadow: 0 6px 10px -2px #252525;
}

.slide-text-box {
    margin: 0 0 0 40px;
    padding: 10px;
}

.slide-text-box h3 {
    color: #fff;
    font-size: 40px;
    font-weight: 700;
    line-height: 40px;
    margin: 0 0 60px;
    text-shadow: 2px 2px #252525;
}

.slide-text-box ul {
    list-style-type: none;
    padding: 0 0 0 20px;
    color: #fff;
    font-size: 24px;
    line-height: 32px;
    text-shadow: 1px 1px #252525;
    margin: 0 0 40px 0;
}

.slide-text-box li {
    margin-bottom: 20px;
}
/* /Slide 2 */

.tp-caption a.slide-link {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    padding: 8px 20px;

    /*background-color: rgba(64, 72, 21, 0.75);*/
    background-color: rgba(237, 27, 36, 0.75);
    border: 3px solid rgba(255, 255, 255, 0.75);
}

.tp-caption a.slide-link:hover {
    background-color: rgba(237, 27, 36, .9);
    border: 3px solid rgba(255, 255, 255, .9);
}

.tp-bullets {
    display: none;
}

/* /BANNER */

/* QUICK NAV */ 
section {
    padding-top: 30px;
    padding-bottom: 0;
    margin: 0;
}

section header {
    display: block;
    margin-bottom: 0;
}

#banner-nav {
    background-color: #252525;
    width: 100%;
    padding: 0;
    margin: 0;
}

/* -md */
@media (min-width: 992px) {
    #banner-nav {
        background-color: #252525;
        width: 100%;
        height: 100px;
        padding: 0;
        margin: 0;
    }
}

.quick-nav-item-container {
    text-align: center;
    display: block;
}

/* -md */
@media (min-width: 992px) {
    .quick-nav-item-container {
        display: flex;
        flex-direction: row;
        height: 100px;
        justify-content: center;
        align-items: center;
        text-align: left;
    }
}

.quick-nav-item-img {
    display: none;
}

/* -md */
@media (min-width: 992px) {
    .quick-nav-item-img {
        display: block;
        width: 70px;
        height: 54px;
        margin: 0 15px 0 0;
        flex-shrink: 0;
    }
}

#banner-nav a:hover {
    color: #fff;
    background-color: #4b4b4b;
    text-decoration: none;
    transition: background-color 0.2s ease-out 0s;
}



#banner-nav a:focus,
#banner-nav a:hover h3, #banner-nav a:focus h3,
#banner-nav a:hover p, #banner-nav a:focus p {
    color: #fff;
    text-decoration: none;
}

.quick-nav-item-text h3 {
    color: #fff;
    font-size: 20px;
    line-height: 40px;
    margin: 0;
    font-weight: 600;
}

@media (min-width: 992px) {
    .quick-nav-item-text h3 {
        color: #fff;
        font-size: 20px;
        line-height: 20px;
        margin: 0;
        font-weight: 600;
        padding: 0 0 10px 0;
    }
}

.quick-nav-item-text p {
    display: none;
}

/* -md */
@media (min-width: 992px) {
    .quick-nav-item-text p {
        color: #fff;
        margin: 0;
        font-size: 14px;
        line-height: 20px;
        font-weight: 400;
        display: block;
    }
}

.quick-nav-item-img.price-list {
    background: transparent url("../Content/assets/images/tp-sprite.png") no-repeat scroll 0 -84px;
}

.quick-nav-item-img.fee {
    background: transparent url("../Content/assets/images/tp-sprite.png") no-repeat scroll 0 -138px;
}

.quick-nav-item-img.plan {
    background: transparent url("../Content/assets/images/tp-sprite.png") no-repeat scroll 0 -192px;
}

.quick-nav-item-img.map {
    background: transparent url("../Content/assets/images/tp-sprite.png") no-repeat scroll 0 -245px;
}
/* /QUICK NAV */ 

/* FEATURED */
.featured-box-minimal > div {
    margin-bottom: 0;
}

.feat-item-container {
    display: flex;
    flex-direction: row;
    padding: 10px 0;
    margin: 0 0 10px 0;
}

.feat-item-img {
    background: transparent url("../Content/assets/images/tp-sprite.png") no-repeat scroll 0 0;
    display: block;
    width: 58px;
    height: 58px;
    margin: 0 15px 0 0;
    flex-shrink: 0
}

.feat-item-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.feat-item-text p {
    margin: 0;
    font-size: 18px;
}
/* /FEATURED */

/* NEWS */
.item-box {
    margin: 0;
}

.item-box:hover {
    background: #ececec;
    transition: all 0.2s ease 0s;
}

.news-link:hover {
    text-decoration: none;
}

.item-box .news-link:hover img {
  transform: scale(1.1, 1.1);
}

.item-box .news-link img {
  transition: all 0.2s ease 0s;
}

.box-content.thumbnail h3 span {
    padding: 10px;
}

/* /NEWS */

/* REG */
.callout h3 {
    color: #ed1b24;
    font-weight: 600;
    font-size: 30px;
}

.callout p {
    font-size: 18px;
    font-weight: 300;
}

.callout .btn.pull-right {
  margin-right: 20px;
}
/* /REG */

/* FOOTER */
#footer {
    border-top: 5px solid #ed1b24;
    color: #f6f6f6;
    margin: 50px 0 0 0;
}

#footer-inner {
    border-top: 5px solid #252525;
}

#footer p {
    margin: 0;
}

#footer strong {
    font-size: 100%;
    color: #f6f6f6;
    font-weight: 700;
}

#footer .copyright {
    color: #c8c8c8;
}

#footer a.social {
    background: #c8c8c8;
    color: #2b2b2b;
    display: inline-block;
    font-size: 30px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    transition: all 0.2s ease 0s;
    width: 50px;
}

#footer a.social.fa-facebook {
    margin: 0 20px 0 0;
}

a.social.fa-facebook:hover {
  background: #3b5997 none repeat scroll 0 0 !important;
  color: #fff !important;
}

a.social.fa-youtube:hover {
  background: #ff0000 none repeat scroll 0 0 !important;
  color: #fff !important;
}

.box-line {
    border-right: none;
}

@media (min-width: 992px) {
    .box-line {
        border-right: 2px solid #c8c8c8;
    }
}

#footer .download {
    color: #f6f6f6;
    line-height: 26px;
    font-size: 18px;
}

#footer .download-materials-icon {
    background: transparent url("../Content/assets/images/tp-sprite.png") no-repeat scroll 0 -58px;
    display: inline-block;
    width: 29px;
    height: 26px;
    margin: 0 10px 0 0;
    vertical-align: middle;
}

#footer .spaced {
    padding: 20px 0;
}

@media (min-width: 992px) {
    #footer .spaced {
        padding: 40px 0;
    }
}

.tp-footer-logo {
    margin: 0 0 10px 0;
}

@media (min-width: 992px) {
    .tp-footer-logo {
        margin: 0 0 30px 0;
    }
}

.footer-link {
    color: #f6f6f6;
}
/* /FOOTER */

/* PAGE CONTENT */
.std-page-header {
    width: 100%;
    height: 120px;
    display: block;
    margin: 0;
    padding: 0;
}

.default {
    background-image: url("../Content/assets/images/page-header/main.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg1 {
    background: url("../Content/assets/images/page-header/bg1.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg2 {
    background: url("../Content/assets/images/page-header/bg2.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg3 {
    background: url("../Content/assets/images/page-header/bg3.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg4 {
    background: url("../Content/assets/images/page-header/bg4.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg5 {
    background: url("../Content/assets/images/page-header/bg5.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg6 {
    background: url("../Content/assets/images/page-header/bg6.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg7 {
    background: url("../Content/assets/images/page-header/bg7.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}

.news-image-figure {
    text-align: center;
}

/* CENNIK */

.before-dropdown {
    margin: 8px 8px 0 0;
}

/*#region SUMMERNOTE*/

.margin-bottom-zero {
    margin-bottom: 0px
}
/*#endregion */
.border-img {
    padding: 5px;
    border: 1px solid #eeeeee;
}

/* Plan rynku w SVG */

/* Region A oraz D*/
.fil0 {
    fill: #ED1B24;
    fill-opacity: .75;
    pointer-events: all; 
    cursor: pointer;
}

.fil0:hover {
    fill-opacity: 1;
}

/* Region A1, B, E, P */
.fil1 {
    fill: #6D0C11;
    fill-opacity: .75;
    pointer-events: all; 
    cursor: pointer;
}

.fil1:hover {
    fill-opacity: 1;
}

/* Region C */
.fil2 {
    fill: #AD141A;
    fill-opacity: .75;
    pointer-events: all; 
    cursor: pointer;
}

.fil2:hover {
    fill-opacity: 1;
}

/* Region F */
.fil3 {
    fill: #B2B2B2;
    fill-opacity: .75;
    pointer-events: all;
    cursor: pointer;
}

.fil3:hover {
    fill-opacity: 1;
}

.str0 {
    stroke: white;
    stroke-width: 5.90551;
}

/* Kolor liter */
.fil4 {
    fill: white;
    fill-rule: nonzero;
    pointer-events: all;
    cursor: pointer;
}

.fill-opacity-1 {
    fill-opacity: 1;
}

#plan-bg {
    margin: 0 0 10px;
}

.btn-group, .btn-toolbar {
    margin-bottom: 5px;
}

.mark-element, .btn-default.mark-element:hover, .btn-default.mark-element.active {
    background-color: #5cb85c;
    color: #fff;
}

.js-svg-sector.mark-element {
    fill: #5cb85c;
}

.svg-container {
    position: relative;
}

.svg-content {
    position: absolute;
    top: 0;
    left: 0;
}

.btn-group .btn {
    white-space: normal;
}

/* Fix rozmiaru kafelek */
.item-box figure {
    max-height: 210px;
}

.home-page .item-box-desc h4 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.table-responsive > .table > thead > tr > th,
.table-responsive > .table > tbody > tr > th,
.table-responsive > .table > tfoot > tr > th,
.table-responsive > .table > thead > tr > td,
.table-responsive > .table > tbody > tr > td,
.table-responsive > .table > tfoot > tr > td {
    white-space: normal;
}

/* Kolorowanie inputów z błędem walidacji*/
.bg-input-validation {
    background-color: #f8bac0;
}

/*NOTOWANIA CENOWE*/
#priceListForm td.fullfill {
    width: 100%;
}
#priceListForm td {
    border: solid;
    padding: 0;
}

.full-td-editor {
    height: 100%;
    width: 100%;
    margin: 0 !important;
    padding: 5px 10px;
}

.full-td-button {
    height: 100%;
    width: 100%;
    margin: 0px !important;
    padding: 6px 10px !important;
}

blockquote {
    font-size: 1.2em;
}