﻿@{
    ViewBag.Title = "Historia";
}

<section class="std-page-header bg1"></section>

<section>
    <div class="container">
        <h2 class="page-title">
            Historia
        </h2>

        <div class="row">
            <div class="col-xs-12">
                <p class="text-justify">
                    Funkcjonowanie rolno-spożywczego rynku hurtowego datuje się od 1990 r.
                    Jego poprzednikiem było słynne targowisko przy placu Kromera, które w dobie
                    transformacji ustrojowej i dynamicznego rozwoju Wrocławia i regionu
                    zaspakajało w wystarczającym stopniu potrzeb i oczekiwań mieszkańców .
                    Koncepcję budowy nowego rynku w 1989 roku władzom gminy Wrocław
                    przedstawił Andrzej Kobel. W 1990 roku zarejestrowano spółkę WPPHU
                    Targpiast Sp. z o.o., w której 51% udziałów objęła Gmina Wrocław, 48%
                    Andrzej Kobel.
                    Celem Spółki było zbudowanie i zarządzanie rolno-spożywczym rynkiem
                    hurtowym. W niedługim czasie „Targpiast” rozszerzył zakres działania na
                    Dolny Śląsk i regiony ościenne.
                </p>

                <p class="text-justify">
                    Rynek zlokalizowano na nieużytkach przy ul. Bolesława Krzywoustego.
                    Wzorcowa rekultywacja terenu i sposób jego dalszego użytkowania spotkały
                    się z dużym uznaniem Ministerstwa Ochrony Środowiska.
                    Po ośmiu latach prężnego rozwoju rynku teren przy ulicy Krzywoustego
                    sprzedano pod budowę centrum handlowego „Korona”. Gmina Wrocław
                    odstapiła od dalszego udziału w Spółce. Potencjał gospodarczy rynku
                    zagospodarowała kilkunastoosobowa grupa operatorów i pracowników WPPHU.
                </p>

                <p class="text-justify">
                    Targpiast z liderem Andrzejem Koblem. Powstała nowa firma - Targpiast Sp. z
                    o.o. ze 100% prywatnym, polskim kapitałem. Rynek przeniesiono i zbudowano
                    na wskazanych przez władze Gminy Wrocław gruntach przy ul. Obornickiej.
                    Spółka korzystała ze sprawdzonego, własnego know how, zachowała
                    wieloletnie tradycje i podczas trudnej, wręcz karkołomnej zmianie lokalizacji,
                    nie utraciła ani jednego z dotychczasowych użytkowników.
                </p>

                <p class="text-justify">
                    Jednym z kolejnych przełomowych etapów w historii „Targpiastu” była
                    konieczność gruntownej przebudowy rynku w związku z budową obwodnicy
                    śródmiejskiej Wrocławia według, zmienionej względem założeń pierwotnych,
                    trasy jej przebiegu. Likwidacji a potem przeniesieniu i rozbudowie (związanej
                    z zakupem nowych gruntów) uległ sektor owoców i warzyw importowanych o
                    najwyżej rozwiniętej infrastrukturze technicznej. Mimo ogromnej skali
                    trudności „Targpiast” utrzymał pełną , komplementarną strukturę towarową i
                    zachował ciągłość ruchu na placu.
                </p>

                <p class="text-justify">
                    „Targpiast” dziś to rynek z systematycznie rozwijającą się infrastrukturą
                    techniczną , nowoczesnymi technologiami i sposobami zarządzania.
                    W swojej branży jest ciągle numerem 1 na obszarze aglomeracji wrocławskiej ,
                    Dolnego Śląska i regionów ościennych. Ilość sprzedających i kupujących jest w
                    stałej tendencji wzrostowej.
                </p>
            </div>
        </div>
    </div>
</section>










