﻿@{
    ViewBag.Title = "Struktura i profil spółki";
}

<section class="std-page-header bg1">
</section>

<section>
    <div class="container">
        <h2 class="page-title">
            Struktura i profil spółki
        </h2>

        <div class="row">
            <div class="col-xs-12">
                <h3>Profil działalności Spółki</h3>
                <p class="text-justify">
                    Rolno-spożywczy rynek hurtowy „Targpiast” jest jednym głównych źródeł
                    zaopatrzenia Wrocławia i Dolnego Śląska w żywność w szczególności w świeże
                    warzywa i owoce krajowe i importowane. Jest rynkiem bezpośrednim zarówno dla producentów żywności, pośredników jak i kupców.
                    Świeże warzywa i owoce trafiają na nasz rynek z całej Polski i całego nieomal świata.
                </p>

                <p class="text-justify">
                    Jest to istotne o tyle, ze struktura gleb i ukształtowanie terenu Dolnego Śląska
                    sprawia, ze lokalna produkcja rolna nie zaspakaja potrzeb mieszkańców regionu.
                    W Targpiaście zaopatrują się wszystkie tradycyjne sklepy spożywcze,
                    warzywniaki, lokalne bazary i targowiska, firmy cateringowe, restauracje,
                    stołówki, szpitale, szkoły a także sklepy sieciowe z Wrocławia, Dolnego
                    Śląska, Opolszczyzny. W sezonach wysokich z naszej oferty korzystają także
                    handlowcy z regionów nadmorskich. Duże partie towarów z naszego rynku
                    regularnie trafiają również do Czech.
                </p>

                <p class="text-justify">
                    Dla małych firm rynek pełni
                    dodatkowo swoistą funkcję magazynową. Ze względu na dużą, lokalizacyjną i
                    czasową dostępność rynku kupcy mogą dokonywać zakupów kilka razy
                    dziennie, bądź tygodniowo zachowując świeżość i różnorodność oferty, nie
                    ponosząc kosztów magazynowania.
                </p>

                <h3>Struktura rynku</h3>

                <p class="text-justify">
                    Rynek działa 24h na dobę we wszystkie dni tygodnia.
                    Obsługiwany jest przez kilkudziesięcioosobową grupę pracowników Spółki, w
                    skład której wchodzą: bileterzy, służba ochrony, ekipa techniczna,
                    pracownicy porządkowi, pracownicy biurowi i kadra zarządzająca.
                    Plac objęty jest monitoringiem i elektronicznym system wjazdów oraz stałą
                    opieką i kontrolą sanitarno-epidemiologiczną.
                </p>

                <p class="text-justify">
                    Do dyspozycji klientów są nowoczesne węzły sanitarne i całodobowe usługi
                    gastronomiczne, miejsca parkingowe.

                    Teren rynku jest podzielony na sektory: rolniczy, cytrusowy, ogólnospożywczy i
                    nowalijkę.

                    Handel odbywa się w 8 halach i 40 pawilonach o łącznej powierzchni 20.000
                    m² oraz na samochodowych stanowiskach handlowych.
                </p>
            </div>
        </div>
    </div>
</section>





