﻿
@{
    ViewBag.Title = "Dane rejestrowe";
}

<section class="std-page-header bg1"></section>

<section>
    <div class="container">
        <h2 class="page-title">
            Dane rejestrowe
        </h2>

        <div class="row">
            <div class="col-xs-12">
                <p>
                    Targpiast Sp. z o.o.<br />
                    ul. Obornicka 235-237<br />
                    51-114 Wrocław<br />
                    Kapitał zakładowy 1.332.500 PLN<br />
                    NIP: 895-15-84-803<br />
                    Regon: 931136687<br />
                    Nr KRS: 000 162 170 Sąd Rejestrowy dla Wrocławia Fabrycznej we Wrocławiu VI Wydział Gospodarczy KRS
                </p>
            </div>
        </div>
    </div>
</section>



