﻿@model Targpiast.Models.Localization

@Html.HiddenFor(p => p.LocalizationId)
<div id="loc-@Model.LocalizationId">
    <div class="col-sm-12 col-md-4 padding-top10">
        <a type="button" href="#"
           data-toggle="modal"
           data-target="#removeContentOperators"
           data-mode="loc"
           data-id="@Model.LocalizationId"
           class="btn btn-primary remove-table full-td-button">Usuń lokalizację</a>
    </div>
    <div class="col-sm-12 col-md-8 padding-top10">
        @Html.EditorFor(p => p.LocalizationName, new { htmlAttributes = new { @class = "full-td-button form-control" } })
    </div>
    <div class="col-sm-12 col-md-12 padding-top10">
        <div class="table-responsive">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th><i class="fa fa-building pull-right hidden-xs"></i> Nazwa operatora</th>
                        <th><i class="fa fa-opencart pull-right hidden-xs"></i> Asortyment</th>
                        <th><i class="fa fa-thumb-tack pull-right hidden-xs"></i> Numer stanowiska</th>
                        <th><i class="fa fa-envelope-o pull-right hidden-xs"></i> Dane kontaktowe</th>
                        <th>Akcje</th>
                    </tr>
                </thead>
                <tbody>
                    @Html.Action("NewOperator", "Operator", new { locId = Model.LocalizationId })
                    @Html.EditorFor(x => x.Operators)
                </tbody>
            </table>
        </div>
    </div>
</div>
