﻿@model Targpiast.Models.Operator

<tr id="new-operator-form-@ViewBag.LocId.ToString()">
    <td class="fullfill">@Html.EditorFor(p => p.OperatorName, new { htmlAttributes = new { @class = "full-td-editor form-control" } })</td>
    <td class="fullfill">@Html.EditorFor(p => p.ProductCategory, new { htmlAttributes = new { @class = "full-td-editor form-control" } })</td>
    <td class="fullfill">@Html.EditorFor(p => p.ObjectNumber, new { htmlAttributes = new { @class = "full-td-editor form-control" } })</td>
    <td class="fullfill">@Html.EditorFor(p => p.ContactData, new { htmlAttributes = new { @class = "full-td-editor form-control" } })</td>
    <td class="fullfill"><a class="btn btn-sm btn-success js-submit-form full-td-button" data-id="@ViewBag.LocId"> Dodaj</a></td>
</tr>
