﻿@model Targpiast.Models.Video

<section>
    <div class="container">
        <!-- GENERAL FORM -->
        <div class="panel panel-light margin-bottom60">

            <div class="panel-heading">
                <h3 class="panel-title bold">Nowy materiał wideo <small>dodaj</small></h3>
            </div>

            <div class="panel-body">

                @using (Html.BeginForm("AddVideo", "Gallery", FormMethod.Post, new { @class = "sky-form", id = "ModifyNewsForm" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <fieldset>
                        <section>
                            <label class="label">Nazwa filmu</label>
                            <label class="input">
                                @Html.TextBoxFor(p => p.VideoName, new { placeholder = "Tytuł..." })
                                @Html.ValidationMessageFor(m => m.VideoName, "", new { @class = "text-danger" })
                            </label>
                        </section>

                        <section>
                            <label class="label">Nazwa filmu</label>
                            <label class="input">
                                @Html.TextBoxFor(p => p.VideoUrl, new { placeholder = "Adres pliku youtube..." })
                                @Html.ValidationMessageFor(m => m.VideoUrl, "", new { @class = "text-danger" })
                            </label>
                        </section>

                        <section>
                            <section>
                                <label class="label">Czy umieścić wydarzenie na stronie startowej ?</label>
                                @Html.CheckBoxFor(p => p.VideoIncludeOnMain)
                                @Html.ValidationMessageFor(m => m.VideoIncludeOnMain, "", new { @class = "text-danger" })
                            </section>
                        </section>
                    </fieldset>

                    <footer>
                        <button type="submit" class="btn btn-success js-submit-news-form">Dodaj</button>
                    </footer>
                }
            </div>

        </div>
        <!-- /GENERAL FORM -->
    </div>
</section>