﻿@model Targpiast.Models.Error

@{
    ViewBag.Title = "Error";
}

<section>
    <div class="container">

        <div class="row default-e404">
					
            <div class="col-md-9">
						
                <span class="default-404"><i class="fa fa-file"></i> 404</span>
                <p class="text-center lead">Strona, której szukasz nie istnieje.</p>

            </div>

            <div class="col-md-3">
						
                <h4>Przydatne linki</h4>

                <!-- SIDE NAV -->
                <ul class="side-nav list-group" id="sidebar-nav">

                    <li class="list-group-item"><a href="@Url.Action("Index", "Home")"><i class="fa fa-angle-right"></i> Start</a></li>
                    <li class="list-group-item"><a href="@Url.Action("Index", "News")"><i class="fa fa-angle-right"></i> Wydarzenia</a></li>
                    <li class="list-group-item"><a href="@Url.Action("Index", "Contact")"><i class="fa fa-angle-right"></i> Dane kontaktowe</a></li>
                    <li class="list-group-item"><a href="@Url.Action("Map", "Contact")"><i class="fa fa-angle-right"></i> Mapa dojazdowa</a></li>
                    <li class="list-group-item"><a href="@Url.Action("MarketPlan", "Info")"><i class="fa fa-angle-right"></i> Plan rynku</a></li>

                </ul>
                <!-- /SIDE NAV -->

            </div>
        </div>

    </div>
</section>
