﻿@using System.Data.Entity
@using Targpiast.Logic.Repositories
@{
    ViewBag.Title = "Start";
    var newsRepository = DependencyResolver.Current.GetService<INewsRepository>();
    var videoRepository = DependencyResolver.Current.GetService<IVideoGalleriesRepository>();
}

<!-- REVOLUTION SLIDER -->
<div class="slider fullwidthbanner-container roundedcorners hidden-md hidden-sm hidden-xs">
    <div class="fullwidthbanner" data-height="400">
        <ul class="hide">
            <li data-transition="fade" data-delay="3000">
                <!-- MAIN IMAGE -->
                <img src="~/Content/assets/images/home-page-slider/slide1a.jpg" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">

                <div class="caption"
                     data-x="0"
                     data-y="0"
                     data-start="300"
                     data-speed="300"
                     data-easing="easeOutExpo">
                    <div class="container">
                        <div class="row">
                            <div class="banner-bg">
                                <div class="col-xs-12 text-center">
                                    <div class="banner-welcome">
                                        <img alt="[Targpiast Logo]" src="@Url.Content("~/Content/assets/images/tp-banner-logo.png")" />
                                        <h2>Rolno-spożywczy rynek hurtowy</h2>
                                        <p>Rok założenia 1990</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12 text-center">
                                <a href="@Url.Action("Index", "About")" class="discover-tp-link">Poznaj Targpiast</a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li data-transition="fade" data-delay="3000">
                <img src="~/Content/assets/images/home-page-slider/slide2a.jpg" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">

                <div class="caption"
                     data-x="0"
                     data-y="0"
                     data-start="300"
                     data-speed="300"
                     data-easing="easeOutExpo">
                    <div class="container">
                        <div class="row">
                            <div class="banner-bg-mov">
                                <div class="col-xs-12">
                                    <div class="display-flex flex-start">
                                        <iframe class="tp-video-iframe" width="1140" height="320" src="https://www.youtube.com/embed/tehXjamjhK0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li data-transition="fade" data-delay="3000">
                <img src="~/Content/assets/images/home-page-slider/slide2a.jpg" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">

                <div class="caption"
                     data-x="0"
                     data-y="0"
                     data-start="300"
                     data-speed="300"
                     data-easing="easeOutExpo">
                    <div class="container">
                        <div class="row">
                            <div class="banner-bg-mov">
                                <div class="col-xs-12">
                                    <div class="display-flex flex-start">
                                        <iframe class="tp-video-iframe" width="600" height="320" src="https://www.youtube.com/embed/qwqeqYdMgTQ" allow="autoplay; encrypted-media" allowfullscreen></iframe>

                                        <div class="slide-text-box">
                                            <h3>Nasze atuty:</h3>
                                            <ul>
                                                <li>• tradycja</li>
                                                <li>• dynamika</li>
                                                <li>• doświadczenie</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li data-transition="fade" data-delay="3000">
                <img src="~/Content/assets/images/home-page-slider/slide2a.jpg" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">

                <div class="caption"
                     data-x="0"
                     data-y="0"
                     data-start="300"
                     data-speed="300"
                     data-easing="easeOutExpo">
                    <div class="container">
                        <div class="row">
                            <div class="banner-bg-mov">
                                <div class="col-xs-12">
                                    <div class="display-flex flex-start">
                                        <iframe class="tp-video-iframe" width="1140" height="320" src="https://www.youtube.com/embed/KfrcGIAiuG4" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
<!-- /REVOLUTION SLIDER -->

<!-- QUICK NAV -->
<section id="banner-nav">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <a class="quick-nav-item-container" href="@Url.Action("Index","Price")">
                    <div>
                        <div class="quick-nav-item-img price-list">
                        </div>
                    </div>

                    <div class="quick-nav-item-text">
                        <h3>Cennik</h3>
                        <p>Zapoznaj się z <span class="visible-lg-inline">aktualnym</span><br />cennikiem produktów</p>
                    </div>
                </a>
            </div>

            <div class="col-md-3">
                <a class="quick-nav-item-container" href="@Url.Action("Index","Info")">
                    <div>
                        <div class="quick-nav-item-img fee">
                        </div>
                    </div>

                    <div class="quick-nav-item-text">
                        <h3>Opłaty</h3>
                        <p>Sprawdź tabelę opłat<br />dla sprzedających</p>
                    </div>
                </a>
            </div>

            <div class="col-md-3">
                <a class="quick-nav-item-container" href="@Url.Action("MarketPlan","Info")">
                    <div>
                        <div class="quick-nav-item-img plan">
                        </div>
                    </div>

                    <div class="quick-nav-item-text">
                        <h3>Plan rynku</h3>
                        <p>Zobacz plan <span class="visible-lg-inline">sytuacyjny</span><br />poszczególnych sektorów</p>
                    </div>
                </a>
            </div>

            <div class="col-md-3">
                <a class="quick-nav-item-container" href="@Url.Action("Map","Contact")">
                    <div>
                        <div class="quick-nav-item-img map">
                        </div>
                    </div>

                    <div class="quick-nav-item-text">
                        <h3>Dojazd</h3>
                        <p>Sprawdź jak<br />do nas dotrzeć</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
<!-- /QUICK NAV -->

<!-- WELCOME -->
<section>
    <div class="container">
        <header>
            <h2>
                O firmie
            </h2>
            <p>
                Ponadregionalny rolno-spożywczy rynek hurtowy powstał w 1990 r. Podstawową jego funkcją jest obsługa podmiotów gospodarczych Wrocławia,
                Dolnego Śląska i regionów sąsiednich  zaopatrujących mieszkańców w artykuły spożywcze, w szczególności w świeże warzywa i owoce.
            </p>
        </header>
    </div>
</section>
<!-- /WELCOME -->

<!-- FEATURED -->
<section>
    <div class="container">
        <div class="row featured-box-minimal">
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <div class="feat-item-container">
                    <div class="feat-item-img">
                    </div>
                    <div class="feat-item-text">
                        <p><strong>wygodna</strong> lokalizacja</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <div class="feat-item-container">
                    <div class="feat-item-img">
                    </div>
                    <div class="feat-item-text">
                        <p><strong>24 godzinna</strong> działalność<br /><strong>we wszystkie dni</strong> tygodnia</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <div class="feat-item-container">
                    <div class="feat-item-img">
                    </div>
                    <div class="feat-item-text">
                        <p><strong>bogata,</strong> komplementarna<br /><strong>oferta handlowa</strong></p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <div class="feat-item-container">
                    <div class="feat-item-img">
                    </div>
                    <div class="feat-item-text">
                        <p>ponad <strong>25 lat</strong><br />tradycji i doświadczenia</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <div class="feat-item-container">
                    <div class="feat-item-img">
                    </div>
                    <div class="feat-item-text">
                        <p><strong>20 000 m²</strong> hal,<br />pawilonów, magazynów   </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <div class="feat-item-container">
                    <div class="feat-item-img">
                    </div>
                    <div class="feat-item-text">
                        <p><strong>15 ha</strong> powierzchni<br />całkowitej rynku</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <div class="feat-item-container">
                    <div class="feat-item-img">
                    </div>
                    <div class="feat-item-text">
                        <p>ponad <strong>1 mln</strong> wjazdów<br />samochodów rocznie</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <div class="feat-item-container">
                    <div class="feat-item-img">
                    </div>
                    <div class="feat-item-text">
                        <p><strong>800</strong> samochodowych<br />stanowisk handlowych</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <div class="feat-item-container">
                    <div class="feat-item-img">
                    </div>
                    <div class="feat-item-text">
                        <p><strong>kilkuset</strong> stałych najemców  </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /FEATURED -->

<!-- NEWS -->
<section>
    <div class="container">
        <h2>
            Wydarzenia
        </h2>

        <div class="row home-page">
            <ul class="sort-destination isotope" data-sort-id="isotope-list">
                @foreach (var news in newsRepository.StartPageNews.Include(p => p.NewsCategory))
                {
                    <li class="col-sm-6 col-md-4 isotope-item news-image">
                        <!-- item -->
                        <div class="item-box" style="max-height: 310px">
                            @{
                                var url = news.NewsCategory.NewsCategoryId == 1 ? Url.Action("News", "News", new {articleId = news.NewsId}) : Url.Action("SingleNews", "Eco", new { articleId = news.NewsId });
                            }
                            <a href="@url" class="news-link">
                                <figure>
                                    @if (!string.IsNullOrEmpty(news.NewsTitlePhotoId))
                                    {
                                        <img class="img-responsive" src="~/Content/news-images/@news.NewsTitlePhotoId" alt="">
                                    }
                                    else
                                    {
                                        if (news.NewsCategory.NewsCategoryId == 1)
                                        {
                                            var photoName = news.NewsId % 5 + ".jpg";
                                            <img class="img-responsive" src="~/Content/news-images/default/@photoName" alt="">
                                        }
                                        else
                                        {
                                            <img class="img-responsive" src="~/Content/news-images/default/eco.jpg" alt="">
                                        }
                                    }
                                </figure>
                                <div class="item-box-desc">
                                    <h4>@news.NewsTitleOnMain</h4>
                                    <small class="styleColor">@news.NewsCreatedDate.ToString("dd MMMM yyyy")</small>
                                </div>
                            </a>
                        </div>
                    </li>
                }
            </ul>
        </div>                                  
    </div>
</section>
<!-- /NEWS -->

<!-- VIDEOS -->
<section>
    <div class="container">
        <h2>
            Materiały wideo
        </h2>
        
        <div class="row">
            <ul class="sort-destination isotope" data-sort-id="isotope-list">
                @foreach (var video in videoRepository.VideosOnMain)
                {
                    <li class="col-sm-6 col-md-4 isotope-item news-video">
                        <!-- item -->
                        <div class="item-box">
                            <a href="@video.VideoWatchUrl()" class="item-image lightbox popup-youtube news-link">
                                <figure>
                                    <img class="img-responsive" src="@video.VideoTitleImage()" alt="">
                                </figure>
                                <div class="item-box-desc">
                                    <h4>@video.VideoNameOnMain</h4>
                                </div>
                            </a>
                        </div>
                    </li>
                }
            </ul>
        </div>
    </div>
</section>
<!-- /VIDEOS -->

<script type="text/javascript">
    $(document).ready(function () {
        $(".tp-banner").revolution({
            delay: 5000
        });

        $('.popup-youtube').magnificPopup({
            disableOn: 700,
            type: 'iframe',
            mainClass: 'mfp-fade',
            removalDelay: 160,
            preloader: false,
            fixedContentPos: false
        });
    });
</script>