﻿@{
    ViewBag.Title = "Polityka prywatności";
}

<section class="std-page-header bg4"></section>

<section>
    <div class="container">
        <h2 class="page-title">
            Polityka prywatności
        </h2>

        <div class="row">
            <div class="col-xs-12">
                <p class="text-justify">
                    1. Serwis nie zbiera w sposób automatyczny żadnych informacji, z wyjątkiem informacji zawartych w plikach cookies. 
                </p>
                <p class="text-justify">
                    2. Pliki cookies (tzw. „ciasteczka”) stanowią dane informatyczne, w szczególności pliki tekstowe, które przechowywane są w urządzeniu końcowym Użytkownika Serwisu i przeznaczone są do korzystania ze stron internetowych Serwisu. Cookies zazwyczaj zawierają nazwę strony internetowej, z której pochodzą, czas przechowywania ich na urządzeniu końcowym oraz unikalny numer. 
                </p>
                <p class="text-justify">
                    3. Podmiotem zamieszczającym na urządzeniu końcowym Użytkownika Serwisu pliki cookies oraz uzyskującym do nich dostęp jest operator Serwisu Cube Group S.A. z siedzibą pod adresem ul. Dworkowa 3 w Warszawie.                
                </p>
                <p class="text-justify">
                    4. Pliki cookies wykorzystywane są w celu:
                </p>
                <ul class="list-unstyled">
                    <li>a) dostosowania zawartości stron internetowych Serwisu do preferencji Użytkownika oraz optymalizacji korzystania ze stron internetowych; w szczególności pliki te pozwalają rozpoznać urządzenie Użytkownika Serwisu i odpowiednio wyświetlić stronę internetową, dostosowaną do jego indywidualnych potrzeb</li>
                    <li>b) tworzenia statystyk, które pomagają zrozumieć, w jaki sposób Użytkownicy Serwisu korzystają ze stron internetowych, co umożliwia ulepszanie ich struktury i zawartości</li>
                    <li>c) utrzymanie sesji Użytkownika Serwisu (po zalogowaniu), dzięki której Użytkownik nie musi na każdej podstronie Serwisu ponownie wpisywać loginu i hasła</li>
                </ul>
                <p class="text-justify">
                    5. W ramach Serwisu stosowane są dwa zasadnicze rodzaje plików cookies: „sesyjne” (session cookies) oraz „stałe” (persistent cookies). Cookies „sesyjne” są plikami tymczasowymi, które przechowywane są w urządzeniu końcowym Użytkownika do czasu wylogowania, opuszczenia strony internetowej lub wyłączenia oprogramowania (przeglądarki internetowej). „Stałe” pliki cookies przechowywane są w urządzeniu końcowym Użytkownika przez czas określony w parametrach plików cookies lub do czasu ich usunięcia przez Użytkownika. 
                </p>
                <p class="text-justify">
                    6. W ramach Serwisu mogą być stosowane następujące rodzaje plików cookies:
                </p>
                <ul class="list-unstyled">
                    <li>a) „niezbędne” pliki cookies, umożliwiające korzystanie z usług dostępnych w ramach Serwisu, np. uwierzytelniające pliki cookies wykorzystywane do usług wymagających uwierzytelniania w ramach Serwisu</li>
                </ul>
            </div>
        </div>
    </div>
</section>
