﻿<footer id="footer">
    <div id="footer-inner">
        <div class="container">
            <div class="spaced">
                <div class="row">
                    <div class="col-md-12 hidden-sm hidden-xs">
                        <img alt="[Targpiast Logo]" src="@Url.Content("~/Content/assets/images/tp-footer-logo.png")" class="tp-footer-logo" />
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 col-sm-12">
                        <p>
                            Targpiast Sp. z o.o. <br />
                            ul. Obornicka 235-237<br />
                            51-114 Wrocław<br /><br />
                            <strong>e-mail:</strong> <a href="mailto:sekretariat@targpiast.com.pl" class="footer-link">sekretariat@targpiast.com.pl</a><br />
                            <strong>WWW:</strong> <a href="#" class="footer-link">www.targpiast.com.pl</a><br />
                        </p>
                    </div>

                    <div class="col-md-5 col-sm-12 box-line padding-right-30">
                        <p>
                            <strong>Kapitał zakładowy:</strong> 1 332 500 PLN<br /><br />
                            <strong>NIP:</strong> 895-15-84-803<br />
                            <strong>REGON:</strong> 931136687<br />
                            <strong>KRS:</strong> 000 162 170 Sąd Rejonowy dla Wrocławia Fabrycznej
                            we&nbsp;Wrocławiu VI Wydział Gospodarczy KRS
                        </p>
                    </div>

                    <div class="col-md-3 hidden-sm hidden-xs padding-left-30">
                        <a href="https://pl-pl.facebook.com/Targpiast" class="social fa fa-facebook"></a>
                        <a href="https://www.youtube.com/channel/UCYaS_9YV55cSPKY3veHvcOg" class="social fa fa-youtube"></a>
                        <br /><br />
                        <a href="@Url.Action("Downloads", "Info", new {Area = ""})" class="download">
                            <i class="download-materials-icon"></i>Materiały do pobrania
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <hr />

        <div class="copyright">
            <div class="container text-center">
                Wszelkie prawa zastrzeżone © Targpiast Sp. z o. o. &bull; <a href="@Url.Action("PrivacyPolicy", "Home")">Polityka prywatności</a>
            </div>
        </div>
    </div>
</footer>