﻿<!DOCTYPE html>
<html>
<head>
    <script type="text/javascript">
        // ReSharper disable All
        (function(i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] ||
                function() {
                    (i[r].q = i[r].q || []).push(arguments);
                }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m);
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-113165125-2', 'auto');
        ga('send', 'pageview');
    </script>

    <meta charset="utf-8" />
    <title>Targpiast - Spiżarnia Wrocławia i Dolnego Śląska | @ViewBag.Title</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />

    <!-- mobile settings -->
    <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />

    <!-- Favicon -->
    <link rel="shortcut icon" href="@Url.Content("~/Content/assets/favicon_tp.ico")">
    <link rel="icon" type="image/png" href="@Url.Content("~/Content/assets/favicon_tp.png")">

    <!-- WEB FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700,800&amp;subset=latin,latin-ext,cyrillic,cyrillic-ext" rel="stylesheet" type="text/css" />

    <!-- CORE CSS -->
    @Styles.Render("~/Content/core_css")

    <!-- REVOLUTION SLIDER -->
    @Styles.Render("~/Content/revolution_slider")

    <!-- SKY FORMS CSS-->
    @Styles.Render("~/Content/sky_forms")

    <!-- MAGNIFIC POPUP CSS-->
    @Styles.Render("~/Content/magnific_popup")

    <!-- DROPZONE CSS-->
    @Styles.Render("~/Content/dropzone")

    <!-- THEME CSS -->
    @Styles.Render("~/Content/theme_css")
    
    <!-- BUSY-LOAD -->
    @Styles.Render("~/Content/busy-load")

    <!-- JQUERY BUNDLE-->
    @Scripts.Render("~/bundles/core-js-jquery")

    <!-- REVOLUTION SLIDER -->
    @Scripts.Render("~/bundles/revolution-slider")

    <!-- MAGNIFIC POPUP BUNDLE-->
    @Scripts.Render("~/bundles/magnific_popup")

    <!-- DROPZONE BUNDLE-->
    @Scripts.Render("~/bundles/dropzone")
    
    <!-- VALIDATION BUNDLE-->
    @Scripts.Render("~/bundles/jQuerry_validation")
    
    <!-- BUSY-LOAD -->
    @Scripts.Render("~/bundles/busy-load")

    <script src="~/Content/assets/js/scripts.js"></script>
    <script src="~/Scripts/cookie.notice.js"></script>
    <!-- CUSTOM CSS -->
    <link href="@Url.Content("~/Content/tp_style_15062018.css")" rel="stylesheet" type="text/css" />
</head>
<body class="smoothscroll">
    <div id="wrapper">
        <div id="header">
            <!-- class="sticky" for sticky menu -->
            <header id="topBar">
                <div class="container">
                    <div class="pull-right fsize13 margin-top10 hide_mobile">

                        <!-- mail , phone -->
                        <a href="tel:+48-71-712-5900">+48-71-712-5900</a>

                        <div class="block text-right">
                            <!-- social -->
                            <a href="https://pl-pl.facebook.com/Targpiast" class="social fa fa-facebook"></a>
                            <a href="https://www.youtube.com/channel/UCYaS_9YV55cSPKY3veHvcOg" class="social fa fa-youtube"></a>
                        </div><!-- /social -->

                    </div>

                    <!-- Logo -->
                    <a class="logo" href="@Url.Action("Index", "Home", new { Area = "" })">
                        <img src="@Url.Content("~/Content/assets/images/tp_logo.jpg")" />
                        <span class="logo-txt">
                            <span class="bold">Rolno-spożywczy rynek hurtowy</span> we Wrocławiu
                        </span>
                    </a>
                </div><!-- /.container -->
            </header>
        </div>
        
        @if (User.Identity.IsAuthenticated)
        {
            <div class="container">
                <div style="margin-bottom: 40px">
                    <section>
                        <a href="@Url.Action("LogOff", "Account")" type="button" class="btn btn-primary btn-lg btn-block js-add-news">Wyloguj z panelu administratora</a>
                        <a href="@Url.Action("Index", "GoogleAnalytics")" type="button" class="btn btn-success btn-lg btn-block">Statystyki witryny</a>
                    </section>
                </div>
            </div>
        }

        @Html.Partial("_TopNav")

        @RenderBody()

        @Html.Partial("_Footer")

    </div>

    <!-- modal dialog -->
    <div class="modal fade" id="removeContent" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <!-- modal header -->
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Usuń element</h4>
                </div><!-- /modal header -->
                <!-- modal body -->
                <div class="modal-body">
                    Czy na pewno chcesz usunąć ten element ? Zmiany są nieodwracalne!
                </div>
                <!-- /modal body -->

                <div class="modal-footer">
                    <!-- modal footer -->
                    <button class="btn btn-default" data-dismiss="modal">Anuluj</button> <a id="deleteButton" type="button" href="#" class="btn btn-primary">Usuń</a>
                </div><!-- /modal footer -->
            </div>
        </div>
    </div>

</body>
</html>

<script>
    $(document).ready(function() {
        $('.js-remove-content').click(function() {
            $("#deleteButton").attr("href", $(this).attr("data-href"));
        });

        $.busyLoadSetup({ animation: "slide", background: "rgba(150, 150, 150, 0.90)", spinner: "accordion" });
    });
</script>