﻿<header id="topNav">
    <div class="container">

        <!-- Mobile Menu Button -->
        <button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
            <i class="fa fa-bars"></i>
        </button>

        <!-- Top Nav -->
        <div class="navbar-collapse nav-main-collapse collapse">
            <nav class="nav-main">
                <ul id="topMain" class="nav nav-pills nav-main">
                    <li class="@Html.IsSelected("Home", "Index")">
                        <a href="@Url.Action("Index", "Home", new { Area = "" })">
                            Start
                        </a>
                    </li>
                    <li class="@Html.IsSelected("About", "Index") @Html.IsSelected("About", "History") @Html.IsSelected("About", "RegisterData")">
                        <a class="dropdown-toggle" href="#">
                            O firmie <span class="fa fa-caret-down"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="@Url.Action("Index", "About", new {Area = ""})"> Struktura i profil spółki</a></li>
                            <li><a href="@Url.Action("History", "About", new {Area = ""})"> Historia</a></li>
                            <li><a href="@Url.Action("RegisterData", "About", new {Area = ""})"> Dane rejestrowe</a></li>
                        </ul>
                    </li>
                    <li class="@Html.IsSelected("Price", "Index")">
                        <a href="@Url.Action("Index", "Price", new { Area = "" })">
                            Notowania cenowe
                        </a>
                    </li>
                    <li class="@Html.IsSelected("News", "Index") @Html.IsSelected("News", "News")">
                        <a href="@Url.Action("Index", "News", new { Area = "" })">
                            Wydarzenia
                        </a>
                    </li>
                    <li class="@Html.IsSelected("Info", "Index") @Html.IsSelected("Info", "Rules") @Html.IsSelected("Info", "Downloads") @Html.IsSelected("Info", "MarketPlan")">
                        <a class="dropdown-toggle" href="#">
                            Informacje praktyczne <span class="fa fa-caret-down"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="@Url.Action("MarketPlan", "Info", new {Area = ""})"> Plan rynku</a></li>
                            <li><a href="@Url.Action("Index", "Info", new {Area = ""})"> Opłaty</a></li>
                            <li><a href="@Url.Action("Rules", "Info", new {Area = ""})"> Regulamin</a></li>
                            <li><a href="@Url.Action("Downloads", "Info", new {Area = ""})"> Do pobrania</a></li>
	                        <li><a href="@Url.Action("Monitoring", "Info", new {Area = ""})"> Monitoring wizyjny</a></li>
                        </ul>
                    </li>
                    <li class="@Html.IsSelected("Gallery", "Index") @Html.IsSelected("Gallery", "Video") ">
                        <a class="dropdown-toggle" href="#">
                            Galeria <span class="fa fa-caret-down"></span>
                        </a>

                        <ul class="dropdown-menu">
                            <li><a href="@Url.Action("Index", "Gallery", new {Area = ""})"> Foto</a></li>
                            <li><a href="@Url.Action("Video", "Gallery", new {Area = ""})"> Wideo</a></li>
                        </ul>
                    </li>
                    <li class="@Html.IsSelected("Operator", "Index")">
                        <a href="@Url.Action("Index", "Operator", new { Area = "" })">
                            Spis operatorów
                        </a>
                    </li>
                    <li class="@Html.IsSelected("Eco", "Index") @Html.IsSelected("Eco", "News") @Html.IsSelected("Eco", "Operators") @Html.IsSelected("Eco", "SingleNews")">
                        <a class="dropdown-toggle" href="#">
                            Eco Targpiast <span class="fa fa-caret-down"></span>
                        </a>
                        
                        <ul class="dropdown-menu">
                            <li><a href="@Url.Action("Index", "Eco", new {Area = ""})"> Wizja projektu</a></li>
                            <li><a href="@Url.Action("News", "Eco", new {Area = ""})"> Wydarzenia</a></li>
                            <li><a href="@Url.Action("Operators", "Eco", new {Area = ""})"> Eko dostawcy</a></li>
                        </ul>
                    </li>
                    <li class="@Html.IsSelected("Contact", "Index")">
                        <a class="dropdown-toggle" href="#">
                            Kontakt <span class="fa fa-caret-down"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="@Url.Action("Index", "Contact", new {Area = ""})"> Dane kontaktowe</a></li>
                            <li><a href="@Url.Action("Map", "Contact", new {Area = ""})"> Mapa dojazdowa</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
        <!-- /Top Nav -->
    </div><!-- /.container -->
</header>
