﻿
@{
    ViewBag.Title = "Do pobrania";
}

<section class="std-page-header bg4"></section>

<section>
    <div class="container">
        <h2 class="page-title">
            Do pobrania
        </h2>

        <div class="row">
            <div class="col-md-3">
                <a href="~/Content/downloads/LogoTargpiast.pdf" target="_blank">
                    <div class="featured-box noborder">
                        <!-- add .transparent for no background color -->
                        <i class="fa fa-file-pdf-o"></i>
                        <h4>Logo Targpiast</h4>
                        <p>Logo Targpiast Sp. z o. o. w formacie .pdf (Adobe Acrobat Reader)</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3">
                <a href="~/Content/downloads/LogoTargpiast.zip" target="_blank">
                    <div class="featured-box noborder">
                        <!-- add .transparent for no background color -->
                        <i class="fa fa-file-archive-o"></i>
                        <h4>Logo Targpiast</h4>
                        <p>Logo Targpiast Sp. z o. o. w formacie .ai, .cdr, .eps (Adobe Illustrator, Corel DRAW)</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3">
                <a href="~/Content/downloads/LogoEcoTargpiastCMYK.jpg" target="_blank">
                    <div class="featured-box noborder">
                        <!-- add .transparent for no background color -->
                        <i class="fa fa-file-image-o"></i>
                        <h4>Logo Eco-Targpiast</h4>
                        <p>Logo Eco-Targpiast w formacie .jpeg (dowolna przeglądarka zdjęć)</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3">
                <a href="~/Content/downloads/LogoEcoTargpiastCMYK.pdf" target="_blank">
                    <div class="featured-box noborder">
                        <!-- add .transparent for no background color -->
                        <i class="fa fa-file-pdf-o"></i>
                        <h4>Logo Eco-Targpiast</h4>
                        <p>Logo Eco-Targpiast w formacie .pdf (Adobe Acrobat Reader)</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

