﻿@{
    ViewBag.Title = "Opłaty";
}

<section class="std-page-header bg4"></section>

<section>
	<div class="container">
		<h2 class="page-title">
			Opłaty
		</h2>

		<div class="row">
			<div class="col-xs-12">
				<p>
					Cennik stawek opłaty eksploatacyjnej i czynszu	wraz z podatkiem od towarów i usług (VAT) obowiązujących na terenie rynku „Targpiast" we Wrocławiu, ul. Obornicka 235-237 od dnia 01.07.2019 r.
				</p>

				<p>
					Na podstawie regulaminu rynku oraz uchwały Zarządu Spółki „Targpiast" Sp. z o.o. we Wrocławiu nr 02/05/2019 z dnia 31.05.2019 r. wprowadza się następujące stawki opłaty eksploatacyjnej oraz czynszu obowiązujące na terenie rynku:
				</p>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12">
				<h3>Dział I. Opłata wjazdowa</h3>
			</div>
		</div>

		<div class="panel panel-epona">
			<div class="panel-heading">
				<h3 class="panel-title">Punkt nr 1.</h3>
			</div>
			<div class="panel-body">
				<p>
					Dobowe stawki opłaty za jedno stanowisko w miejscach wyznaczonych do sprzedaży produktów żywnościowych nie przetworzonych oraz owoców i warzyw produkcji krajowej dokonywana przez producentów oraz opłata za wjazd i pobyt, za każdą rozpoczętą dobę, na terenie rynku pojazdów należących do podmiotów wprowadzających do obrotu na terenie rynku produkty żywnościowe nie przetworzone oraz owoce i warzywa produkcji krajowej dla innych podmiotów funkcjonujących na rynku wynoszą:
				</p>
				<table class="table table-striped">
					<thead>
						<tr>
							<th class="text-center">Symbol</th>
							<th class="text-center">Opis</th>
							<th class="text-center">Cena</th>
						</tr>
					</thead>

					<tbody>
						<tr>
							<td class="fit">SO</td>
							<td>
								sprzedaż z samochodów osobowych oraz z samochodów do 400 kg ładowności i 1,7 m wysokości pojazdu
							</td>
							<td class="text-right fit text-nowrap">35,00 PLN</td>
						</tr>
						<tr>
							<td class="fit">SU</td>
							<td>
								sprzedaż z samochodów osobowych oraz z samochodów do 400 kg ładowności i 1,7 m wysokości pojazdu + przyczepa
							</td>
							<td class="text-right fit text-nowrap">70,00 PLN</td>
						</tr>
						<tr>
							<td class="fit">SC</td>
							<td>
								sprzedaż z samochodów powyżej 400 kg ładowności i 1,7 m wysokości pojazdu do 3 ton ładowności pojazdu
							</td>
							<td class="text-right fit text-nowrap">42,00 PLN</td>
						</tr>
						<tr>
							<td class="fit">SD</td>
							<td>
								sprzedaż z samochodów powyżej 400 kg ładowności i 1,7 m wysokości pojazdu do 3 ton ładowności pojazdu+ przyczepa
							</td>
							<td class="text-right fit text-nowrap">84,00 PLN</td>
						</tr>
						<tr>
							<td class="fit">SG</td>
							<td>sprzedaż z samochodów powyżej 3 ton ładowności pojazdu</td>
							<td class="text-right fit text-nowrap">80,00 PLN</td>
						</tr>
						<tr>
							<td class="fit">SH</td>
							<td>sprzedaż z samochodów powyżej 3 ton ładowności pojazdu + przyczepa</td>
							<td class="text-right fit text-nowrap">160,00 PLN</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

		<div class="panel panel-epona">
			<div class="panel-heading">
				<h3 class="panel-title">Punkt nr 2.</h3>
			</div>
			<div class="panel-body">
				<table class="table table-striped">
					<thead>
						<tr>
							<th class="text-center">Symbol</th>
							<th class="text-center">Opis</th>
							<th class="text-center">Cena</th>
						</tr>
					</thead>

					<tbody>
						<tr>
							<td class="fit"></td>
							<td>
								Dobowe stawki opłaty w miejscach nie wyznaczonych przez zarządcę rynku przy sprzedaży, bez względu na rodzaj towaru, z samochodów bez względu na ładowność oraz z innych pojazdów
							</td>
							<td class="text-right fit text-nowrap">od 500,00 PLN <br />do 1500,00 PLN</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

		<div class="panel panel-epona">
			<div class="panel-heading">
				<h3 class="panel-title">Punkt nr 3.</h3>
			</div>
			<div class="panel-body">
				<p>
                    a) Stawka opłaty eksploatacyjnej za jednorazowy wjazd na teren rynku hurtowego:
				</p>

				<table class="table table-striped">
					<thead>
						<tr>
							<th class="text-center">Symbol</th>
							<th class="text-center">Opis</th>
							<th class="text-center">Cena</th>
						</tr>
					</thead>

					<tbody>
						<tr>
							<td class="fit">KT</td>
							<td>
								pojazdy określane jako ciągniki siodłowe z naczepą/przyczepą
							</td>
							<td class="text-right fit text-nowrap">50,00 PLN</td>
						</tr>
					</tbody>
				</table>

				<p>
					b) Stawka opłaty eksploatacyjnej po przekroczeniu limitu czasu na pobyt na terenie rynku:
				</p>

				<table class="table table-striped">
					<thead>
						<tr>
							<th class="text-center">Symbol</th>
							<th class="text-center">Opis</th>
							<th class="text-center">Cena</th>
						</tr>
					</thead>

					<tbody>
						<tr>
							<td class="fit">TR</td>
							<td>
								przekroczenie limitu 720 min. na pobyt na terenie rynku ciągnika siodłowego z naczepą/przyczepą
							</td>
							<td class="text-right fit text-nowrap">200,00 PLN</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

		<div class="panel panel-epona">
			<div class="panel-heading">
				<h3 class="panel-title">Punkt nr 4.</h3>
			</div>
			<div class="panel-body">
				<p>
					a) Jednorazowa opłata za wjazd na teren rynku inny, niż określony w pkt. 1-3:
				</p>

				<table class="table table-striped">
					<thead>
						<tr>
							<th class="text-center">Symbol</th>
							<th class="text-center">Opis</th>
							<th class="text-center">Cena</th>
						</tr>
					</thead>

					<tbody>
						<tr>
							<td class="fit">KW</td>
							<td>
								wszystkie pojazdy samochodowe, z wyłączeniem pojazdów określonych w pkt. 3 (przy limicie czasowym pobytu 360 minut)<br />
								po przekroczeniu limitu 360 minut, za każdą rozpoczętą godzinę
							</td>
							<td class="text-right fit text-nowrap">5,00 PLN<br />5,00 PLN</td>
						</tr>
					</tbody>
				</table>

				<p>
					b) Opłata abonamentowa terminowa (30 dni) wyłącznie za wjazd po zakup towaru:
				</p>

				<table class="table table-striped">
					<thead>
						<tr>
							<th class="text-center">Symbol</th>
							<th class="text-center">Opis</th>
							<th class="text-center">Cena</th>
						</tr>
					</thead>

					<tbody>
						<tr>
							<td class="fit">KA</td>
							<td>
								wszystkie pojazdy samochodowe, z wyłączeniem pojazdów określonych w pkt. 3
							</td>
							<td class="text-right fit text-nowrap">120,00 PLN</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

		<div class="panel panel-epona">
			<div class="panel-heading">
				<h3 class="panel-title">Punkt nr 5.</h3>
			</div>
			<div class="panel-body">
				<table class="table table-striped">
					<thead>
						<tr>
							<th class="text-center">Opis</th>
							<th class="text-center">Cena</th>
						</tr>
					</thead>

					<tbody>
						<tr>
							<td>
								a) Sprzedaż z punktu stałego nie spełniającego wymogu podatku od nieruchomości oraz miejsca wyznaczonego — czynsz miesięczny w zależności od wielkości zajmowanej powierzchni i rodzaju prowadzonej działalności
							</td>
							<td class="text-right fit text-nowrap">cena umowna nie mniejsza niż 25,00 zł za 1m² zajmowanej powierzchni + VAT</td>
						</tr>
						<tr>
							<td>
								b) Punkty gastronomiczne
							</td>
							<td class="text-right fit text-nowrap">od 25,00 zł za 1m² zajmowanej powierzchni + VAT</td>
						</tr>
						<tr>
							<td>
								c) zajęcie dodatkowego miejsca obok wyznaczonego stanowiska (handlowego, magazynowego, gastronomicznego i innego)
							</td>
							<td class="text-right fit text-nowrap">od 20,00 zł za 1m² zajmowanej powierzchni + VAT dziennie</td>
						</tr>
						<tr>
							<td>
								d) Boksy w halach – czynsz miesięczny w zależności od wielkości zajmowanej powierzchni i rodzaju prowadzonej działalności
							</td>
							<td class="text-right fit text-nowrap">ceny umowne</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12">
				<h3>Dział II</h3>
				<p>
					1)	Uiszczenie opłaty eksploatacyjnej i czynszu nie zwalnia od odpowiedzialności za naruszenie przepisów porządkowych.
				</p>

				<p>
					2)	Naruszenie przepisów porządkowych powoduje obowiązek uiszczenia opłaty dodatkowej, której wysokość maksymalna wynosi trzykrotność stawki dziennej opłat określonych w Dziale I pkt. 1 - 3.
				</p>
			</div>
		</div>
	</div>
</section>


@*Sformatowy dostępny tutaj: http://www.targpiast.com.pl/cennik-oplat/
<br />

CENNIK
stawek opłaty eksploatacyjnej i czynszu wraz z podatkiem od towarów i usług (VAT) obowiązujących na terenie rynku „Targpiast” we Wrocławiu, ul. Obornicka 235-237 od dnia 27.03.2016 r.

Na podstawie regulaminu rynku oraz uchwały Zarządu Spółki „Targpiast” Sp. z o.o.
we Wrocławiu nr 01/03/2016 z dnia 01.03.2016 r. we Wrocławiu wprowadza się następujące stawki opłaty eksploatacyjnej oraz czynszu obowiązujące na terenie rynku:
DZIAŁ I. OPŁATA WJAZDOWA
Punkt nr 1
Dobowe stawki opłaty za jedno stanowisko w miejscach wyznaczonych wynoszą:
Sprzedaż produktów żywnościowych nie przetworzonych oraz owoców i warzyw produkcji krajowej dokonywana przez producentów:
SYMBOL	OPIS	CENA
SO	sprzedaż z samochodów osobowych oraz z samochodów do 400 kg ładowności i 1,7 m wysokości pojazdu	35,00 PLN
SU	sprzedaż z samochodów osobowych oraz z samochodów do 400 kg ładowności i 1,7 m wysokości pojazdu + przyczepa	70,00 PLN
SC	sprzedaż z samochodów powyżej 400 kg ładowności i 1,7 m wysokości pojazdu do 3 ton ładowności pojazdu	42,00 PLN
SD	sprzedaż z samochodów powyżej 400 kg ładowności i 1,7 m wysokości pojazdu do 3 ton ładowności pojazdu+ przyczepa	84,00 PLN
SG	sprzedaż z samochodów powyżej 3 ton ładowności pojazdu	80,00 PLN
SH	sprzedaż z samochodów powyżej 3 ton ładowności pojazdu + przyczepa	160,00 PLN
Punkt nr 2
OPIS	CENA
a) Dobowe stawki opłaty w miejscach nie wyznaczonych przez zarządcę rynku przy sprzedaży, bez względu na rodzaj towaru, z samochodów bez względu na ładowność oraz z innych pojazdów wynoszą	od 500,00 PLN do 1500,00 PLN
b) Stawki opłaty eksploatacyjnej po przekroczeniu limitu czasu na dostawę towaru i jego rozładunek
SYMBOL	OPIS	CENA
TR	przekroczenie limitu 720 min. na rozładunek towaru z ciągnika siodłowego z naczepą (TIR)	200,00 PLN
Punkt nr 3
a) Stawki opłaty eksploatacyjnej za wjazd na teren rynku pojazdami przez podmioty wprowadzające do obrotu na terenie rynku płody rolne dla innych podmiotów funkcjonujących na rynku:
SYMBOL	OPIS	CENA
WO	samochody osobowe oraz samochody do 400 kg ładowności i 1,7 m wysokości pojazdu	30,00 PLN
WU	samochody osobowe oraz samochody do 400 kg ładowności i 1,7 m wysokości pojazdu + przyczepa	60,00 PLN
WC	samochody powyżej 400 kg ładowności i 1,7 m wysokości pojazdu do 3 ton ładowności pojazdu	37,00 PLN
WD	samochody powyżej 400 kg ładowności i 1,7 m wysokości pojazdu do 3 ton ładowności pojazdu+ przyczepa	74,00 PLN
WG	samochody powyżej 3 ton ładowności pojazdu	71,00 PLN
WH	samochody powyżej 3 ton ładowności pojazdu + przyczepa	142,00 PLN

b) Stawki opłaty eksploatacyjnej po przekroczeniu limitu czasu na dostawę towaru i jego rozładunek dla pojazdów określonych w pkt. 3.a) :
SYMBOL	OPIS	CENA
W1	przekroczenie limitu 60 min. na rozładunek towaru z samochodu osobowego oraz z samochodu do 400 kg ładowności i 1,7m wysokości pojazdu	30,00 PLN
W2	przekroczenie limitu 120 min. na rozładunek towaru z samochodu osobowego oraz z samochodu do 400kg ładowności i 1,7m wysokości pojazdu +przyczepa	60,00 PLN
W3	przekroczenie limitu 120 min. na rozładunek towaru z samochodu powyżej 400 kg ładowności i 1,7 m wysokości pojazdu do 3 ton ładowności pojazdu	37,00 PLN
W4	przekroczenie limitu 240 min. na rozładunek towaru z samochodu powyżej 400 kg ładowności i 1,7 m wysokości pojazdu do 3 ton ładowności pojazdu+ przyczepa	74,00 PLN
W5	przekroczenie limitu 360 min. na rozładunek towaru z samochodu powyżej 3t ładowności	71,00 PLN
W6	przekroczenie limitu 720 min. na rozładunek towaru z samochodu powyżej 3t ładowności + przyczepa	142,00 PLN
Punkt nr 4
a) Jednorazowa opłata za wjazd na teren rynku inny, niż określony w pkt. 1-3:
SYMBOL	OPIS	CENA
KW	wszystkie pojazdy samochodowe (przy limicie czasowym pobytu 360 minut)
po przekroczeniu limitu 360 minut, za każdą rozpoczętą godzinę	4,00 PLN
4,00 PLN

b) Opłata abonamentowa terminowa (30 dni) wyłącznie za wjazd po zakup towaru:
SYMBOL	OPIS	CENA
KA	wszystkie pojazdy samochodowe	90,00 PLN
Punkt nr 5
OPIS	CENA
a) Sprzedaż z punktu stałego nie spełniającego wymogu podatku od nieruchomości oraz miejsca wyznaczonego – czynsz miesięczny w zależności od wielkości zajmowanej powierzchni i rodzaju prowadzonej działalności	cena umowna nie mniejsza niż 25,00 zł za 1m² zajmowanej powierzchni + VAT
b) Punkty gastronomiczne	od 25,00 zł za 1m² zajmowanej powierzchni + VAT
c) zajęcie dodatkowego miejsca obok wyznaczonego stanowiska (handlowego, magazynowego, gastronomicznego i innego)	od 20,00 zł za 1m² zajmowanej powierzchni +VAT dziennie
Punkt nr 6
OPIS	CENA
Boksy w halach – czynsz miesięczny w zależności od wielkości zajmowanej powierzchni i rodzaju prowadzonej działalności	ceny umowne
DZIAŁ II
1)	Uiszczenie opłaty eksploatacyjnej i czynszu nie zwalnia od odpowiedzialności za naruszenie przepisów porządkowych.
2)	Naruszenie przepisów porządkowych powoduje obowiązek uiszczenia opłaty dodatkowej, której wysokość maksymalna wynosi trzykrotność stawki dziennej opłat określonych w Dziale I pkt. 1 - 3.*@
