﻿@{
    ViewBag.Title = "Plan rynku";
}
<section>
    <div class="container">
        <h2 class="page-title">
            Plan rynku
        </h2>

        <div class="btn-group btn-group-justified hidden-xs hidden-sm">
            <a class="btn btn-default text-left js-highlight-sector" role="button" data-sector="A">A: Sektor "Nowalijka" - Owoce i warzywa krajowe i importowane</a>
            <a class="btn btn-default text-left js-highlight-sector" role="button" data-sector="D">D: Sektor hal targowych owoców i warzyw importowanych</a>
        </div>

        <div class="btn-group btn-group-vertical visible-xs visible-sm">
            <a class="btn btn-default text-left js-highlight-sector" role="button" data-sector="A">A: Sektor "Nowalijka" - Owoce i warzywa krajowe i importowane</a>
            <a class="btn btn-default text-left js-highlight-sector" role="button" data-sector="A1">A1: Sektor EKO - Warzywa i owoce ekologiczne</a>
        </div>


        <div class="btn-group btn-group-justified hidden-xs hidden-sm">
            <a class="btn btn-default text-left js-highlight-sector" role="button" data-sector="A1">A1: Sektor EKO - Warzywa i owoce ekologiczne</a>
            <a class="btn btn-default text-left js-highlight-sector" role="button" data-sector="E">E: Sektor administracyjno-gospodarczy</a>
        </div>

        <div class="btn-group btn-group-vertical visible-xs visible-sm">
            <a class="btn btn-default text-left js-highlight-sector" role="button" data-sector="B">B: Sektor Rolniczy - Warzywa krajowe</a>
            <a class="btn btn-default text-left js-highlight-sector" role="button" data-sector="C">C: Sektor spożywczych hal targowych</a>
        </div>


        <div class="btn-group btn-group-justified hidden-xs hidden-sm">
            <a class="btn btn-default text-left js-highlight-sector" role="button" data-sector="B">B: Sektor Rolniczy - Warzywa krajowe</a>
            <a class="btn btn-default text-left js-highlight-sector" role="button" data-sector="F">F: Inwestycja w realizacji</a>
        </div>

        <div class="btn-group btn-group-vertical visible-xs visible-sm">
            <a class="btn btn-default text-left js-highlight-sector" role="button" data-sector="D">D: Sektor hal targowych owoców i warzyw importowanych</a>
            <a class="btn btn-default text-left js-highlight-sector" role="button" data-sector="E">E: Sektor administracyjno-gospodarczy</a>
        </div>


        <div class="btn-group btn-group-justified hidden-xs hidden-sm">
            <a class="btn btn-default text-left js-highlight-sector" role="button" data-sector="C">C: Sektor spożywczych hal targowych</a>
            <a class="btn btn-default text-left js-highlight-sector" role="button" data-sector="P">P: Parking</a>
        </div>

        <div class="btn-group btn-group-vertical visible-xs visible-sm">
            <a class="btn btn-default text-left js-highlight-sector" role="button" data-sector="F">F: Inwestycja w realizacji</a>
            <a class="btn btn-default text-left js-highlight-sector" role="button" data-sector="P">P: Parking</a>
        </div>

        <div class="svg-container">
            <img id="plan-bg" class="img-responsive" src="~/Content/assets/images/tp_plan_foto_1140.jpg" />

            <svg id="svg-map" viewBox="-100 10 1400 850" preserveAspectRatio="xMidYMid meet" class="svg-content">

                <polygon id="D" class="fil0 str0 js-svg-sector" data-sector="D" points="892.093,307.24 839.035,306.014 742.359,318.932 741.952,368.452 876.718,370.111 876.387,447.092 684.337,447.756 681.025,589.772 954.531,592.095 989.962,538.341 1020.76,477.951 1035.99,446.76 1062.52,413.111 1062.32,359.78 891.496,357.328 ">
                    <title>D: Sektor hal targowych owoców i warzyw importowanych</title>
                </polygon>

                <polygon id="B" class="fil1 str0 js-svg-sector" data-sector="B" points="954.531,592.095 929.158,635.62 867.844,684.889 764.561,694.378 547.774,694.743 544.124,690.364 470.037,690.364 477.337,621.386 476.972,592.189 681.025,589.772 ">
                    <title>B: Sektor Rolniczy - Warzywa krajowe</title>
                </polygon>

                <path id="A" class="fil0 str0 js-svg-sector" data-sector="A" d="M332.402 33.7323l156.728 322.611 -45.2409 6.46299 0.538583 93.7134 -16.6961 -1.07717 9.15591 232.668 -58.1669 0 -101.792 -254.211 -77.5559 35.0079 -39.8551 -62.4756 113.641 -48.4724 -19.9276 -40.9323 -117.411 44.7024c-42.548,-69.8362 -85.0961,-139.672 -127.644,-209.509l324.227 -118.488z">
                    <title>A: Sektor "Nowalijka" - Owoce i warzywa krajowe i importowane</title>
                </path>

                <polygon id="C" class="fil2 str0 js-svg-sector" data-sector="C" points="742.359,318.932 741.952,368.452 876.718,370.111 876.387,447.092 684.337,447.756 681.025,589.772 476.972,592.189 475.396,483.312 428.901,485.143 427.731,455.443 444.422,455.347 443.889,362.806 489.13,356.343 707.006,323.655 ">
                    <title>C: Sektor spożywczych hal targowych</title>
                </polygon>

                <polygon id="A1" class="fil1 str0 js-svg-sector" data-sector="A1" points="253.231,317.027 135.82,361.729 159.517,406.431 273.158,357.959 ">
                    <title>A1: Sektor EKO - Warzywa i owoce ekologiczne</title>
                </polygon>

                <polygon id="F" class="fil3 str0 js-svg-sector" data-sector="F" points="276.928,433.899 199.372,468.907 177.033,482.805 134.826,557.422 299.411,555.099 321.861,546.11 ">
                    <title>F: Inwestycja w realizacji</title>
                </polygon>

                <polygon id="P" class="fil1 str0 js-svg-sector" data-sector="P" points="667.885,241.821 895.515,219.281 892.093,307.24 839.035,306.014 707.006,323.655 ">
                    <title>P: Parking</title>
                </polygon>

                <polygon id="E" class="fil1 str0 js-svg-sector" data-sector="E" points="892.093,307.24 891.496,357.328 1062.32,359.78 1062.52,413.111 1091.13,381.235 1148.54,295.62 1129.54,287.652 1096.64,283.361 980.584,309.311 ">
                    <title>E: Sektor administracyjno-gospodarczy</title>
                </polygon>

                <path id="txt_A" data-sector="A" data-istext="true" class="fil4 js-svg-sector" d="M265.287 232.408l-7.86614 0 -3.1252 -8.13307 -14.3079 0 -2.95039 8.13307 -7.66654 0 13.9417 -35.7909 7.64173 0 14.3327 35.7909zm-13.3075 -14.1579l-4.93346 -13.2839 -4.83307 13.2839 9.76654 0z">
                    <title>A: Sektor "Nowalijka" - Owoce i warzywa krajowe i importowane</title>
                </path>

                <path id="txt_A1" data-sector="A1" data-istext="true" class="fil4 js-svg-sector" d="M215.109 375.158l-7.86614 0 -3.1252 -8.13307 -14.3079 0 -2.95039 8.13307 -7.66654 0 13.9417 -35.7909 7.64173 0 14.3327 35.7909zm-13.3075 -14.1579l-4.93346 -13.2839 -4.83307 13.2839 9.76654 0z">
                    <title>A1: Sektor EKO - Warzywa i owoce ekologiczne</title>
                </path>

                <path id="txt_A11" data-sector="A1" data-istext="true" class="fil4 js-svg-sector" d="M234.976 375.158l-6.85866 0 0 -25.8579c-2.50748,2.34921 -5.45787,4.08307 -8.85827,5.19921l0 -6.22441c1.78346,-0.583465 3.73346,-1.69134 5.83346,-3.3248 2.1,-1.64173 3.54213,-3.55039 4.31693,-5.73307l5.56654 0 0 35.9409z">
                    <title>A1: Sektor EKO - Warzywa i owoce ekologiczne</title>
                </path>

                <polygon id="txt_F" data-sector="F" data-istext="true" class="fil4 js-svg-sector" points="234.575,523.486 234.575,487.695 259.116,487.695 259.116,493.753 241.808,493.753 241.808,502.219 256.749,502.219 256.749,508.278 241.808,508.278 241.808,523.486 ">
                    <title>F: Inwestycja w realizacji</title>
                </polygon>

                <path id="txt_C" data-sector="C" data-istext="true" class="fil4 js-svg-sector" d="M600.947 440.627l6.99921 2.21693c-1.0748,3.90827 -2.85827,6.80787 -5.35748,8.70827 -2.49213,1.89213 -5.66693,2.84173 -9.50906,2.84173 -4.74921,0 -8.65748,-1.6252 -11.7165,-4.86614 -3.05787,-3.25039 -4.59094,-7.69252 -4.59094,-13.3169 0,-5.95866 1.54134,-10.5839 4.61693,-13.8839 3.07441,-3.29055 7.11614,-4.94055 12.1323,-4.94055 4.3748,0 7.93346,1.29094 10.6665,3.88228 1.63346,1.52598 2.85,3.7252 3.66732,6.59173l-7.15866 1.70906c-0.416929,-1.85906 -1.30039,-3.3248 -2.65039,-4.40079 -1.34055,-1.0748 -2.97402,-1.60748 -4.89094,-1.60748 -2.65039,0 -4.80827,0.949606 -6.45827,2.85827 -1.65,1.89921 -2.47559,4.98307 -2.47559,9.24921 0,4.5248 0.809055,7.75039 2.44252,9.66732 1.62402,1.9252 3.74173,2.88307 6.34134,2.88307 1.9252,0 3.5752,-0.608268 4.95827,-1.83307 1.38307,-1.21654 2.3752,-3.14173 2.98346,-5.75906z">
                    <title>C: Sektor spożywczych hal targowych</title>
                </path>

                <path id="txt_B" data-sector="B" data-istext="true" class="fil4 js-svg-sector" d="M699.171 624.363l14.3091 0c2.83346,0 4.95,0.115748 6.34134,0.357874 1.39134,0.233858 2.63268,0.725197 3.73346,1.4752 1.09961,0.75 2.00787,1.74094 2.74134,2.99173 0.733465,1.24134 1.09961,2.64094 1.09961,4.18346 0,1.6748 -0.45,3.21614 -1.35,4.61575 -0.908268,1.40079 -2.13307,2.45079 -3.67441,3.15 2.17441,0.634252 3.85866,1.71732 5.02441,3.24213 1.1752,1.53307 1.75866,3.33307 1.75866,5.4 0,1.6252 -0.374409,3.20787 -1.13268,4.75039 -0.759449,1.53307 -1.79173,2.76614 -3.10039,3.68268 -1.30866,0.916535 -2.92559,1.48346 -4.84961,1.69961 -1.2,0.125197 -4.10906,0.209055 -8.71654,0.242126l-12.1843 0 0 -35.7909zm7.23425 5.95748l0 8.2748 4.73268 0c2.81693,0 4.56614,-0.0413386 5.25,-0.124016 1.23307,-0.141732 2.20866,-0.566929 2.91614,-1.27559 0.708661,-0.708661 1.05945,-1.64173 1.05945,-2.80039 0,-1.10787 -0.3,-2.00787 -0.909449,-2.7 -0.616535,-0.690945 -1.5248,-1.10787 -2.7248,-1.24961 -0.715748,-0.0826772 -2.77441,-0.125197 -6.1748,-0.125197l-4.14921 0zm0 14.2335l0 9.56693 6.68268 0c2.60787,0 4.25787,-0.0673228 4.95827,-0.217323 1.0748,-0.191339 1.95,-0.674409 2.62559,-1.42441 0.674409,-0.758268 1.01575,-1.7752 1.01575,-3.04134 0,-1.07598 -0.265748,-1.98425 -0.783071,-2.73425 -0.524409,-0.75 -1.27441,-1.29921 -2.25827,-1.64173 -0.982677,-0.341339 -3.1252,-0.507874 -6.40866,-0.507874l-5.83228 0z">
                    <title>B: Sektor Rolniczy - Warzywa krajowe</title>
                </path>

                <path id="txt_D" data-sector="D" data-istext="true" class="fil4 js-svg-sector" d="M907.076 461.226l13.2083 0c2.9752,0 5.24173,0.224409 6.80787,0.682677 2.1,0.616535 3.9,1.71732 5.39173,3.3 1.5,1.57559 2.64213,3.50906 3.4252,5.79213 0.774803,2.29134 1.16693,5.10827 1.16693,8.46614 0,2.94213 -0.367323,5.48386 -1.09961,7.61693 -0.891732,2.59961 -2.16732,4.70787 -3.83386,6.31654 -1.24961,1.2248 -2.94213,2.17441 -5.0752,2.85827 -1.59094,0.507874 -3.7252,0.758268 -6.39921,0.758268l-13.5921 0 0 -35.7909zm7.2248 6.05787l0 23.7 5.39173 0c2.01732,0 3.4748,-0.108661 4.3748,-0.341339 1.16693,-0.291732 2.14252,-0.784252 2.91732,-1.48346 0.774803,-0.700394 1.39961,-1.85906 1.89094,-3.45827 0.483071,-1.60039 0.733465,-3.79252 0.733465,-6.55866 0,-2.76614 -0.250394,-4.88386 -0.733465,-6.36614 -0.491339,-1.48346 -1.1752,-2.64213 -2.04921,-3.46772 -0.883465,-0.832677 -2.00079,-1.39134 -3.35079,-1.68307 -1.00748,-0.232677 -2.98346,-0.341339 -5.93268,-0.341339l-3.24213 0z">
                    <title>D: Sektor hal targowych owoców i warzyw importowanych</title>
                </path>

                <polygon id="txt_E" data-sector="E" data-istext="true" class="fil4 js-svg-sector" points="1067.17,341.381 1067.17,305.59 1093.71,305.59 1093.71,311.648 1074.4,311.648 1074.4,319.581 1092.36,319.581 1092.36,325.606 1074.4,325.606 1074.4,335.348 1094.39,335.348 1094.39,341.381 ">
                    <title>E: Sektor administracyjno-gospodarczy</title>
                </polygon>
                <path id="txt_P" data-sector="P" data-istext="true" class="fil4 js-svg-sector" d="M782.699 288.798l0 -35.7909 11.5913 0c4.39252,0 7.25906,0.183071 8.59252,0.540945 2.04921,0.533858 3.7748,1.70079 5.15787,3.50079 1.38307,1.8 2.0752,4.12441 2.0752,6.96614 0,2.20039 -0.400394,4.05 -1.2,5.54173 -0.799606,1.5 -1.80827,2.6752 -3.04134,3.53268 -1.22598,0.850394 -2.47559,1.41732 -3.74173,1.69252 -1.72559,0.341339 -4.2248,0.516142 -7.5,0.516142l-4.70906 0 0 13.5 -7.2248 0zm7.2248 -29.7331l0 10.1504 3.95079 0c2.85,0 4.75748,-0.184252 5.71654,-0.558661 0.957874,-0.375591 1.70787,-0.959055 2.25827,-1.75866 0.540945,-0.799606 0.816142,-1.72441 0.816142,-2.78268 0,-1.30039 -0.382677,-2.3752 -1.14921,-3.22559 -0.758268,-0.840945 -1.73386,-1.3748 -2.90079,-1.58268 -0.866929,-0.167717 -2.59961,-0.242126 -5.19921,-0.242126l-3.49252 0z">
                    <title>P: Parking</title>
                </path>

            </svg>
        </div>

        <a href="javascript:void(0)" class="btn btn-default" id="js-toggle-svg"><i class="fa fa-eye-slash"></i> Ukryj plan graficzny</a>
    </div>
</section>

<script type="text/javascript">
    $(document).ready(function () {
        /* FIX: Hover na elementach tekstowych podświetla region pod nimi */
        $("#txt_A, #txt_A1, #txt_A11, #txt_B, #txt_C, #txt_D, #txt_E, #txt_F, #txt_P").on("mouseover", function () {

            var $this = $(this),
                pathID = $this.attr("data-sector");

            $("#" + pathID).addClass("fill-opacity-1");
        });

        $("#txt_A, #txt_A1, #txt_A11, #txt_B, #txt_C, #txt_D, #txt_E, #txt_F, #txt_P").on("mouseout", function () {
            var $this = $(this),
                pathID = $this.attr("data-sector");

            $("#" + pathID).removeClass("fill-opacity-1");
        });

        /* Pokaż/ukryj graficzny plan w SVG */
        $("#js-toggle-svg").on("click", function () {
            var $this = $(this),
                $svgMap = $("#svg-map");

            if ($.trim($this.text()) === "Ukryj plan graficzny") {
                $this.html('<i class="fa fa-eye"></i> Pokaż plan graficzny');
                $svgMap.addClass("hidden");
            } else {
                $this.html('<i class="fa fa-eye-slash"></i> Ukryj plan graficzny');
                $svgMap.removeClass("hidden");
            };
        });

        /* Zaznacz sektor po kliknięciu na przycisk z opisem */
        $(".js-highlight-sector").on("click", function () {
            var $this = $(this),
                sectorName = $this.attr("data-sector");

            $(".js-highlight-sector, .js-svg-sector").removeClass("mark-element");

            $(".js-highlight-sector[data-sector='" + sectorName + "']").addClass("mark-element");

            $("#" + sectorName).addClass("mark-element");
        });

        /* Zaznacz przycisk po kliknięciu na sektor */
        $(".js-svg-sector").on("click", function () {
            var $this = $(this),
                sectorName = $this.attr("data-sector");

            $(".js-highlight-sector, .js-svg-sector").removeClass("mark-element");

            /* Jeżeli element jest tylko tekstem na sektorze, to zaznacz sektor, a nie tekst */
            if ($this.attr("data-istext")) {
                $("#" + sectorName).addClass("mark-element");
            } else {
                $this.addClass("mark-element");
            }

            $(".js-highlight-sector[data-sector='" + sectorName + "']").addClass("mark-element");
        });
    });
</script>
