﻿@{
	ViewBag.Title = "Monitoring wizyjny";
}

<section class="std-page-header bg1"></section>

<section>
	<div class="container">
		<h2 class="page-title">
			Monitoring wizyjny
		</h2>

		<div class="row">
			<div class="col-xs-12">
				<p class="text-justify">
					Klauzula informacyjna dotycząca monitoringu wizyjnego na terenie rynku hurtowego „Targpiast”
				</p>
				
				<blockquote>
					<i>Informacja niniejsza udostępniona zostaje w celu wykonania obowiązku wynikającego z Rozporządzenia Parlamentu Europejskiego i Rady (UE) 2016/679 z dnia 27 kwietnia 2016 r. w sprawie ochrony osób fizycznych w związku z przetwarzaniem danych osobowych i w sprawie swobodnego przepływu takich danych oraz uchylenia dyrektywy 95/46/WE (ogólne rozporządzenie o ochronie danych)</i>
				</blockquote>

				<p class="text-justify">
					Monitoring prowadzony jest przez Targpiast sp. z o.o. w celu zapewnienia bezpieczeństwa i porządku publicznego oraz ochrony osób i mienia na terenie rynku hurtowego „Targpiast” we Wrocławiu ul. Obornicka 235-237. Informacje dotyczące monitoringu  dostępne są pod numerem telefonu <a href="tel:+48-71-712-5910">+48-71-712-5900</a> oraz na stronie: <a href="http://www.targpiast.com.pl" target="_blank">www.targpiast.com.pl</a>
				</p>
				
				<p class="text-justify">
					Każda z osób, która może być objęta monitoringiem ma prawo:
				</p>

				<ul class="list-unstyled">
					<li>• do informacji o istnieniu monitoringu na terenie rynku hurtowego „Targpiast”</li>
					<li>• dostępu do nagrań w uzasadnionych prawnie przypadkach</li>
					<li>• żądania usunięcia danych jej dotyczących</li>
					<li>• do anonimizacji wizerunku na zarejestrowanych obrazach i/lub usunięcia dotyczących niej danych osobowych</li>
					<li>• do przetwarzania danych przez ograniczony czas</li>
				</ul>

				<p class="text-justify">
					Administratorem danych osobowych odpowiedzialnym za zapewnienie bezpieczeństwa funkcjonowania systemu monitoringu wizyjnego i przetwarzanie danych osobowych pozyskanych tą drogą jest Zarząd Targpiast Sp. z o.o.
				</p>

				<p class="text-justify">
					Obrazy z monitoringu zapisywane są na dysku twardym komputera. System usuwa stare obrazy i wykorzystuje ponownie przestrzeń dyskową w sposób automatyczny. W takim systemie okres przechowywania nagrań pozyskanych w wyniku monitoringu nie przekracza 30 dni. Nagrania z monitoringu nie podlegają archiwizacji, z zastrzeżeniem, iż nagrania które mogą być wykorzystane przez uprawnione instytucje podczas realizacji  ich ustawowych obowiązków, w tym  w celach prowadzonych przez te organy postępowań, mogą być przechowywane dłużej – do czasu wyjaśnienia sprawy albo zakończenia odpowiednich postępowań.
				</p>
			</div>
		</div>
	</div>
</section>