﻿@{
    ViewBag.Title = "Regulamin";
}

<section class="std-page-header bg4"></section>

<section>
    <div class="container">
        <h2 class="page-title">
            Regulamin rolno-spożywczego rynku "Targpiast" Wrocław, ul. Obornicka 235 – 237
        </h2>

        <div class="row">
            <div class="col-xs-12">
                <p class="text-justify">
                    1. Rynkiem zarządza "Targpiast" Sp. z o.o., 51 – 114 Wrocław,
                    ul. Obornicka 235-237, tel.: 71 325 40 67, 71 712 59 00, fax: 71 325 21 45.
                </p>
                <p class="text-justify">
                    2. Rynek prowadzi działalność całodobowo. Okresowo zarządca rynku może ustalić inne godziny otwarcia i zakończenia funkcjonowania rynku.
                </p>
                <p class="text-justify">
                    3.1 Na rynku odbywa się hurtowa sprzedaż artykułów rolno-spożywczych i przemysłowych oraz dopuszczona jest sprzedaż artykułów nie wyłączonych z obrotu na mocy odrębnych przepisów z wyjątkiem:
                </p>
                <ul class="list-unstyled">
                    <li>a) broni, amunicji, materiałów pirotechnicznych i wybuchowych,</li>
                    <li>b) oleju napędowego, benzyny, środków leczniczych,</li>
                    <li>c) artykułów szkodliwych dla zdrowia lub stanowiących zagrożenie dla życia ludzkiego oraz nie posiadających wymaganych oznaczeń i atestów,</li>
                    <li>d) innych artykułów, których sprzedaż została zakazana stale lub okresowo odrębnymi przepisami.</li>
                </ul>
                <p class="text-justify">
                    3.2 Za zgodą zarządcy, na rynku może być prowadzona działalność usługowa i inna niż handlowa.
                </p>
                <p class="text-justify">
                    4. Na rynku obowiązuje zakaz :
                </p>
                <ul class="list-unstyled">
                    <li>a) sprzedaży i spożywania napojów alkoholowych za wyjątkiem punktów posiadających stosowne zezwolenia,</li>
                    <li>b) bezwzględnego używania ognia otwartego oraz używania  gazowych urządzeń grzewczych bez nadzoru,</li>
                    <li>c) wwozu i pozostawiania śmieci, odpadów, nieczystości itp.</li>
                    <li>d) prowadzenia działalności handlowej w miejscach do tego  nieprzeznaczonych,</li>
                    <li>e) mycia pojazdów mechanicznych.</li>
                </ul>
                <p class="text-justify">
                    5.1 Prowadzący działalność handlową, usługową lub inną oraz pozostali użytkownicy rynku zobowiązani są do bezwzględnego przestrzegania regulaminu   rynku,   przepisów sanitarnych, porządkowych, przeciwpożarowych oraz poleceń obsługi rynku.
                </p>
                <p class="text-justify">
                    5.2 Nabycie biletu/przepustki oznacza złożenie przez posiadacza biletu/przepustki oświadczenia o zapoznaniu się z treścią regulaminu rynku. Prowadzący działalność handlową, usługową i inną na podstawie indywidualnych umów najmu oraz pozostali uczestnicy rynku mają prawo wstępu i pobytu na rynku po zapoznaniu się i akceptacji postanowień regulaminu rynku.
                </p>
                <p class="text-justify">
                    6. Osoby nie przestrzegające przepisów wymienionych w pkt.5.1 mogą zostać:
                </p>
                <ul class="list-unstyled">
                    <li>a) sprzedaży i spożywania napojów alkoholowych za wyjątkiem punktów posiadających stosowne zezwolenia,</li>
                    <li>b) ukarane mandatem nałożonym przez uprawnione organy tj. Policję,  Straż, Miejską, Straż Pożarną, Sanepid,</li>
                    <li>c) objęte zakazem wjazdu na teren rynku.</li>
                </ul>
                <p class="text-justify">
                    7. Osoby, które przebywając na terenie rynku zachowują się w sposób uciążliwy dla innych użytkowników rynku, naruszający ogólnie przyjęte zasady współżycia społecznego lub zagrażający mieniu i godności osobistej innych osób, na żądanie zarządcy rynku lub Służby Ochrony Placu są zobowiązane do opuszczenia terenu rynku. W tym celu zarządca rynku, z własnej inicjatywy lub na wniosek innych osób, w tym użytkowników rynku, może wydać polecenie Służbie Ochrony Placu lub innym upoważnionym podmiotom w celu usunięcia takich osób  z terenu rynku lub zakazujące w/w osobom wstępu na teren rynku lub obiektów się w nim znajdujących.
                </p>
                <p class="text-justify">
                    8. Prowadzący działalność handlową, usługową i inną na rynku pod rygorem utraty prawa do jej dalszego prowadzenia, rozwiązania umowy, usunięcia poza teren rynku – w przypadku osób prowadzących działalność handlową na podstawie jednorazowych biletów, zobowiązani są do:
                </p>
                <ul class="list-unstyled">
                    <li>a) utrzymania porządku i czystości w obrębie miejsca sprzedaży/działalności</li>
                    <li>b) uporządkowania miejsca sprzedaży/działalności po zakończeniu jej wykonywania,</li>
                    <li>c) usunięcia nieczystości zgodnie z obowiązującymi w tym zakresie przepisami,</li>
                    <li>d) prowadzenia działalności wyłącznie w miejscach wyznaczonych przez obsługę lub kierownika rynku,</li>
                    <li>e) terminowego uiszczania czynszu i innych opłat.</li>
                </ul>
                <p class="text-justify">
                    9. Miejsce sprzedaży wyznacza obsługa lub kierownik rynku. Miejsce sprzedaży nie może być:
                    <ul class="list-unstyled">
                        <li>a) wyznaczone na jezdniach, chodnikach, przejściach przeznaczonych do ruchu lub rozładunku, w sposób hamujący i utrudniający ruch,</li>
                        <li>b) odstępowane przez prowadzących działalność handlową, któremu to miejsce wyznaczono.</li>
                    </ul>
                </p>
                <p class="text-justify">
                    10. Sprzedaż owoców i warzyw nie będących produkcji krajowej prowadzona jest wyłącznie z przeznaczonych do tego celu boksów handlowych oraz wyznaczonych stanowisk handlowych i funkcjonujących hurtowni w obiektach stałych rynku. Handel w/w asortymentem poza wyznaczonymi stanowiskami jest zabroniony.
                </p>
                <p class="text-justify">
                    11. Sprzedaż towaru, co do którego zachodzi uzasadnione podejrzenie, że jest on szkodliwy dla zdrowia, pochodzi z kradzieży lub innego nielegalnego źródła nabycia, będzie wstrzymana przez kierownika rynku lub obsługę, które to osoby powiadamiają o stwierdzonych przypadkach naruszania przepisów właściwe organy.
                </p>
                <p class="text-justify">
                    12. W przypadkach szczególnie uzasadnionych jak reorganizacja branż, zarządzenia stosownych organów publicznych, remonty, a także z innych ważnych przyczyn zarządca rynku zastrzega sobie prawo do pomniejszenia powierzchni wynajmowanej, przeniesienia stoiska w inne miejsce, czasowej przerwy w działalności handlowej bez konieczności rozwiązywania umowy lub rozwiązania umowy zezwalającej na prowadzenie działalności na rynku.
                </p>
                <p class="text-justify">
                    13.1 Wjazd na teren rynku jest płatny.
                </p>
                <p class="text-justify">
                    13.2 Wjazd na teren rynku dla podmiotów dokonujących sprzedaży towarów odbywa się po dokonaniu opłaty  eksploatacyjnej.
                </p>
                <ul class="list-unstyled">
                    <li>a) wysokość opłaty eksploatacyjnej określa cennik uchwalony przez zarządcę rynku,</li>
                    <li>b) bileter jest zobowiązany do wydania biletów opłaty, o których   mowa w ppkt. a), zawierających numer rejestracyjny pojazdu, datę oraz godzinę wjazdu,</li>
                    <li>c) wykupione bilety należy zachować do kontroli i okazywać osobom do tego upoważnionym na każde ich żądanie,</li>
                    <li>d) nie posiadanie aktualnych biletów nakłada na prowadzącego działalność handlową obowiązek ich wykupienia, przy czym obowiązek dokonania stosownych opłat rozpoczyna się od momentu upływu ważności posiadanych biletów,</li>
                    <li>e) prowadzący sprzedaż z pojazdów pozostających dłużej niż 24 godziny na terenie rynku zobowiązani są do zachowania biletów opłat z całego okresu pozostawania na rynku i przedstawienia ich do kontroli na żądanie osób uprawnionych,</li>
                    <li>f) nie okazanie do kontroli posiadanych biletów osobom, o których mowa w ppkt. c), uchylanie się od wniesienia opłaty lub brak jakichkolwiek biletów uprawniających do prowadzenia działalności handlowej na terenie rynku   pociąga za sobą, oprócz spełnienia wymogu określonego w  ppkt. d) obowiązek uiszczenia opłaty dodatkowej, w wysokości trzykrotnej stawki  dziennej opłat określonych w cenniku, o którym mowa w ppkt.a).</li>
                </ul>
                <p class="text-justify">
                    13.3 Wjazd na teren rynku pojazdami przez podmioty wprowadzające do obrotu na terenie rynku płody rolne dla innych podmiotów funkcjonujących na rynku, podlega opłacie w wysokości określonej w cenniku, o którym mowa w pkt.13.2 ppkt. a). Dla podmiotów tych mają odpowiednio zastosowanie przepisy pkt. 16.1 regulaminu.
                </p>
                <p class="text-justify">
                    14. Wjazd na teren rynku dla podmiotów dokonujących zakupu towaru odbywa się na podstawie biletu wjazdu:
                </p>
                <ul class="list-unstyled">
                    <li>a) wysokość opłaty określa cennik, o którym mowa w pkt. 13.2. ppkt. a),</li>
                    <li>b) bileter jest zobowiązany do wydania biletu wjazdu o którym mowa w ppkt.a zawierającego numer rejestracyjny pojazdu oraz datę i godzinę wjazdu,</li>
                    <li>c) wykupiony bilet należy zachować do kontroli i okazywać osobom uprawnionym na każde ich żądanie,</li>
                    <li>d) nie posiadanie aktualnego biletu wjazdu pociąga za sobą obowiązek jego wykupienia</li>
                    <li>e) brak aktualnego biletu wjazdu, nie okazanie biletu wjazdu do kontroli osobom, o których mowa w ppkt.c), uchylanie się od uiszczenia opłaty pociąga za sobą, oprócz spełnienia wymogu określonego w ppkt.d), obowiązek uiszczenia opłaty dodatkowej w wysokości ustalonej przez zarządcę rynku.</li>
                </ul>
                <p class="text-justify">
                    15. Wjazd na teren rynku dla podmiotów uprzywilejowanych, nie dokonujących zakupu towaru – innych niż określone w pkt. 13.3 i 16.1, prowadzących działalność inną niż handlowa oraz właścicieli, bądź najemców stanowisk handlowych i ich pracowników odbywa się w sposób określony przez zarządcę rynku.
                </p>
                <p class="text-justify">
                    16.1  Wjazd na teren rynku pojazdami przez podmioty wprowadzające do obrotu na terenie rynku towary, inne niż określone w pkt.13.3, dla podmiotów funkcjonujących na rynku, mają prawo pojazdy, których dysponenci okażą przy wjeździe fakturę lub fakturę proforma na wwożony towar, zawierającą nazwę podmiotu prowadzącego działalność na terenie rynku, przy czym:
                </p>
                <ul class="list-unstyled">
                    <li>a) rozładunek dostarczanego towaru odbywa się w określonym, przez zarządcę rynku, limicie  czasowym,</li>
                    <li>b) po dostarczeniu towaru do  punktu sprzedaży pojazd, po potwierdzeniu  odbioru towaru na bilecie/przepustce, ma  obowiązek   niezwłocznego opuszczenia terenu rynku,</li>
                    <li>c) dostawy towaru pojazdami o dużym tonażu (typu TIR) odbywają się wyłącznie w miejscach i godzinach do tego przeznaczonych,</li>
                    <li>d) w przypadku nie potwierdzenia odbioru towaru na bilecie/przepustce lub pozostawieniu pojazdów  na terenie rynku po dostarczeniu towaru do stanowisk handlowych, uważane one będą, w rozumieniu przepisów regulaminu, za punkty sprzedaży obwoźnej. Za okres pozostawienia w/w pojazdów na terenie rynku pobierane będą opłaty,</li>
                    <li>e) w przypadku nie uiszczenia opłat przez dysponentów pojazdów, o których mowa w ppkt. c), zobowiązanymi do uregulowania opłat za okres pozostawania pojazdu na terenie rynku będą najemcy bądź właściciele stanowisk handlowych, do których dostarczony był towar z w/w pojazdów.</li>
                </ul>
                <p class="text-justify">
                    16.2 Wysokość opłat, określonych w pkt. 16.1, reguluje  cennik, o którym mowa w pkt.13.2 ppkt. a).
                </p>
                <p class="text-justify">
                    17. W uzasadnionych przypadkach zarządca rynku może odstępować  okresowo od poboru opłaty za wjazd na teren rynku od poszczególnych podmiotów.
                </p>
                <p class="text-justify">
                    18. Osoby fizyczne, prawne i jednostki organizacyjne nie mające osobowości prawnej prowadzące sprzedaż na terenie rynku mogą podlegać opłacie  związanej z tą działalnością na podstawie odrębnych przepisów.
                </p>
                <p class="text-justify">
                    19. Do pobierania opłat na terenie rynku uprawniony jest wyłącznie zarządca rynku . Poboru opłat dokonują pracownicy zarządcy rynku oraz upoważnione przez niego osoby.
                </p>
                <p class="text-justify">
                    20.1 Pojazdy znajdujące się na terenie rynku bez zezwolenia na wjazd, aktualnych opłat oraz w sposób rażący naruszające regulamin rynku mogą zostać zablokowane za pomocą urządzenia blokady kół.
                </p>
                <p class="text-justify">
                    20.2 Pojazdy oraz punkty sprzedaży, które są pozostawione na terenie rynku  bez aktualnych opłat  lub bezumownie, będą  traktowane jako porzucone i mogą zostać usunięte poza teren rynku na koszt właściciela. Za ewentualne powstałe szkody oraz pozostawione mienie Spółka "Targpiast" sp. z o.o. nie ponosi odpowiedzialności.
                </p>
                <p class="text-justify">
                    21.1 Wszelkie ewentualne spory zaistniałe pomiędzy użytkownikami rynku a służbami bileterskimi i porządkowymi rozstrzyga kierownik rynku lub szef Służby Ochrony Placu.
                </p>
                <p class="text-justify">
                    21.2 Za wszelkie transakcje handlowe zawierane na terenie rynku odpowiedzialność ponoszą sprzedający i kupujący zgodnie z kodeksem cywilnym i innymi obowiązującymi przepisami.
                </p>
                <p class="text-justify">
                    21.3  Zarządzający rynkiem Targpiast sp. z o.o. nie odpowiada za szkody w mieniu użytkowników i uczestników rynku powstałe w wyniku kradzieży, zepsucia towarów, pożaru, zalania i innych zdarzeń losowych, jak również nie ponosi odpowiedzialności za szkody powstałe w związku z ruchem pojazdów, jeżeli nie wynikają one z zawinionego postępowania pracowników zarządcy rynku oraz za szkody związane z przerwami w dostawie energii elektrycznej, doprowadzania wody i odprowadzania ścieków.
                </p>
                <p class="text-justify">
                    22. Zamieszczanie wszelkich reklam na terenie rynku wymaga uprzedniej pisemnej zgody zarządcy rynku.
                </p>
                <p class="text-justify">
                    23. W sprawach nieuregulowanych postanowieniem niniejszego regulaminu mają zastosowanie odpowiednie zarządzenia i uchwały zarządcy rynku.
                </p>
                <p class="text-justify">
                    24. Na terenie rynku obowiązują przepisy prawa o ruchu drogowym. 
                </p>
                <p class="text-justify">
                    25. Regulamin wchodzi w życie z dniem uchwalenia.
                </p>
            </div>
        </div>
    </div>
</section>
