﻿@model Targpiast.Models.News

<!-- BLOG ARTICLE LIST -->
<!-- article - image -->
<div id="article-@Model.NewsId" class="prev-article row">
    <div class="blog-prev-date col-md-2 col-sm-2">
        <span class="date">
            @Model.NewsCreatedDate.Day <small>@Model.NewsCreatedDate.ToString("MMM yyyy")</small>
        </span>
        <span class="info hidden-xs">
            <span class="block"><i class="fa fa-user"></i> dodany przez: <a href="#">TARGPIAST</a></span>
        </span>
    </div>

    <div class="col-md-10 col-sm-10">

        <h2 class="article-title"><a href="@Url.Action("SingleNews", new {articleId = Model.NewsId})"><span>@Model.NewsTitle</span></a></h2>

        <!-- image -->
        
        @if (!string.IsNullOrEmpty(Model.NewsTitlePhotoId))
        {
            <figure class="news-image-figure">
                <a href="@Url.Action("SingleNews", new {articleId = Model.NewsId})">
                    <img src="~/Content/news-images/@Model.NewsTitlePhotoId" class="img-responsive" alt="blog"/>
                </a>
            </figure>
        }
        <!-- blog short preview -->
        <p>
            @Html.Raw(Model.NewsShortText) 
        </p>

        <!-- read more button -->
        <div class="text-right">
            <a href="@Url.Action("SingleNews", new {articleId = Model.NewsId})" class="read-more btn btn-xs"><i class="fa fa-sign-out"></i> WIĘCEJ...</a>
        </div>

    </div>
</div>