﻿<!-- pagination -->
<div class="text-center">
    <ul class="pagination">
        @if (ViewBag.SelectedPage == 1)
        {
            <li class="disabled"><a href="@Url.Action("News", new {page = 1 })">&laquo;</a></li>
        }
        else
        {
            <li><a href="@Url.Action("News", new {page = 1 })">&laquo;</a></li>
        }
        @for (var i = 1; i <= ViewBag.PagesCount; i++)
        {
            if (ViewBag.SelectedPage == i)
            {
                <li class="active"><a href="@Url.Action("News", new {page = i })">@i <span class="sr-only">(obecna)</span></a></li>
            }
            else
            {
                <li><a href="@Url.Action("News", new {page = i })">@i</a></li>
            }

        }
        @if (ViewBag.SelectedPage == ViewBag.PagesCount)
        {
            <li class="disabled"><a href="@Url.Action("News", new {page = ViewBag.PagesCount  })">&raquo;</a></li>
        }
        else
        {
            <li><a href="@Url.Action("News", new {page =  ViewBag.PagesCount })">&raquo;</a></li>
        }
                    
    </ul>
</div>
<!-- /pagination -->
