﻿@{
    ViewBag.Title = "Eco Targpiast";
}

<section class="std-page-header bg7"></section>

<section>
    <div class="container">
        <h2 class="page-title">
            Wizja projektu
        </h2>

        <div class="row">
            <div class="col-xs-12 col-sm-3 text-center">
                    <img src="~/Content/static-images/eco-targpiast.jpg" alt="" class="img-responsive border-img" />
            </div>

            <div class="col-xs-12 col-sm-9">
                <blockquote>
                    <i>&bdquo;Żadna dziedzina ludzkiej działalności, nawet medycyna nie ma takiego wpływu na zdrowie człowieka jak rolnictwo&rdquo;</i>
                    <cite class="block">Pierre Delbet doktora medycyny, członek paryskiej Akademii Medycznej</cite>
                </blockquote>

                <p class="text-justify">
                    Ta idea przyświecała nam w tworzeniu nowego projektu.
                    EcoTargpiast jest nową platformą sprzedażową dedykowaną dla produktów
                    rolnictwa ekologicznego. Przesłanką jej utworzenia są trendy rynkowe oraz
                    dynamika rozwoju sektora rolno-spożywczego związanego z produktami
                    ekologicznymi.
                    W ramach projektu EcoTargpiast planujemy fizycznie wyodrębnić na rynku
                    przestrzeń przeznaczoną dla asortymentu owoców i warzyw pochodzących z
                    upraw ekologicznych.
                    Naszymi partnerami po stronie dostawców są producenci owoców i warzyw
                    posiadający certyfikowane przez upoważnioną do tego jednostkę uprawy,
                    zgodnie z zasadami legislacji w sprawie produkcji ekologicznej wg
                    obowiązujących aktów prawnych.
                    EcoTargpiast to platforma skierowana do handlu hurtowego i półhurtowego, na
                    której będą mogli spotkać się producenci, pośrednicy handlowi i odbiorcy
                    certyfikowanej żywności, czyli sklepy, firmy cateringowe, lokalne bazary i
                    targowiska, które chcą oferować klientom produkty rolnictwa ekologicznego.
                    Oferujemy wsparcie marketingowe w dostępnej nam przestrzeni wirtualnej oraz
                    posiadanych social media oraz promocję naszych partnerów w cyklicznych
                    imprezach tematycznych. Zapraszamy do współpracy producentów oraz
                    operatorów handlowych.
                </p>
                <p>
                    <span class="bold">Kontakt:</span> Anna Pławecka 601751647
                </p>
            </div>
        </div>

    </div>
</section>




@**@
