﻿@model IEnumerable<Targpiast.Models.News>

@{
    ViewBag.Title = "Aktualności";
}

<section class="std-page-header bg7"></section>

<section>
    <div class="container">
        @if (User.Identity.IsAuthenticated)
        {
            <div style="margin-bottom: 40px">
                <section>
                    <button type="button" class="btn btn-primary btn-lg btn-block js-add-news">Dodaj Eco wydarzenie</button>
                </section>
            </div>
        }
        <div id="blog">
            @foreach (var news in  Model)
            {
                @Html.Partial("_NewsPartial", news)
            }

            @Html.Partial("_Pagination")
        </div>
    </div>
</section>

<script>
    $(".js-add-news").on("click",
        function() {
            window.location.href = '@Url.Action("AddNews")';
        });
</script>

