﻿@using Targpiast.Models
@model IEnumerable<EcoOperator>

<section class="std-page-header bg7"></section>

<section id="eco-providers-list">
    <div class="container">
        <h2 class="page-title">
            Spis eko dostawców
        </h2>

        <div class="row">
            @if (User.Identity.IsAuthenticated)
            {
                <div class="col-sm-12 col-md-12 padding-top10">
                    <button type="button" class="btn btn-success full-td-button js-modify-operators"> Zapisz zmiany</button>
                </div>

                <div id="ErrorMessage" class="col-md-12  padding-top10"></div>

                <div class="col-sm-12 col-md-12 padding-top10">
                    <div class="divider half-margins"><!-- divider 30px --></div>
                </div>

                <div class="col-md-12">
                    <div class="table-responsive">

                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th><i class="fa fa-building pull-right hidden-xs"></i> Nazwa operatora</th>
                                    <th><i class="fa fa-opencart pull-right hidden-xs"></i> Asortyment</th>
                                    <th><i class="fa fa-thumb-tack pull-right hidden-xs"></i> Lokalizacja</th>
                                    <th><i class="fa fa-envelope-o pull-right hidden-xs"></i> Dane kontaktowe</th>
                                    <th>Akcje</th>
                                </tr>
                            </thead>

                            <tbody>
                                @Html.Partial("EditorTemplates/NewEcoOperator", new EcoOperator())
                                @using (Html.BeginForm("ModifyOperators", "Eco", FormMethod.Post, new { id = "modify-eco-operators" }))
                                {
                                    @Html.EditorForModel()
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            }
            else
            {
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th><i class="fa fa-building pull-right hidden-xs"></i> Nazwa operatora</th>
                                    <th><i class="fa fa-opencart pull-right hidden-xs"></i> Asortyment</th>
                                    <th><i class="fa fa-thumb-tack pull-right hidden-xs"></i> Lokalizacja</th>
                                    <th><i class="fa fa-envelope-o pull-right hidden-xs"></i> Dane kontaktowe</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var oper in Model)
                                {
                                    @Html.Partial("_Operator", oper)
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            }
        </div>
    </div>
</section>

<!-- modal dialog for Operators -->
<div class="modal fade" id="removeContentEcoOperators" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <!-- modal header -->
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Usuń element</h4>
            </div><!-- /modal header -->
            <!-- modal body -->
            <div class="modal-body">
                Czy na pewno chcesz usunąć ten element ? Zmiany są nieodwracalne!
            </div>
            <!-- /modal body -->

            <div class="modal-footer">
                <!-- modal footer -->
                <button class="btn btn-default" data-dismiss="modal">Anuluj</button> <a id="deleteButtonEcoOperator" data-dismiss="modal" data-id="" type="button" href="#" class="btn btn-primary">Usuń</a>
            </div><!-- /modal footer -->
        </div>
    </div>
</div>

<script>
    var DIV_START =
        "<div class='alert alert-danger'><button type='button' class='close' data-dismiss='alert'><span aria-hidden='true'>&times;</span><span class='sr-only'>Close</span></button>";
    var DIV_END =
        "</div>";

    $(document).ready(function() {
        $("#eco-providers-list").on("click",
            ".remove-row",
            function() {
                var $this = $(this),
                    id = $this.attr("data-id");
                ClearValidation();
                $("#deleteButtonEcoOperator").attr("data-id", id);
            });

        $("#deleteButtonEcoOperator").on("click",
            function() {
                var $this = $(this),
                    id = $this.attr("data-id");
                
                $.ajax({
                    url: '@Url.Action("DeleteOperator", "Eco")',
                    data: {
                        id: id
                    },
                    success: $('#oper-' + id).remove()
                });

            });

        $(".js-modify-operators").on("click",
            function(e) {

                e.preventDefault();
                ClearValidation();

                var $form = $("#modify-eco-operators"),
                    url = '@Url.Action("ModifyOperators", "Eco")';

                $.ajax({
                    url: url,
                    type: "POST",
                    cache: false,
                    data: $form.serialize(),
                    before: $("#editArea").busyLoad("show"),
                    success: function(result) {
                        if (result.OK) {
                            location.href = '@Url.Action("Operators", "Eco")';
                        } else {
                            if (result.Errors != undefined) {

                                var errorModalHtml = DIV_START;
                                $.each(result.Errors,
                                    function(index, value) {
                                        errorModalHtml += value;
                                        errorModalHtml += "<br />";
                                    });
                                errorModalHtml += DIV_END;

                                $("#ErrorMessage").append(errorModalHtml);
                                ColorValidationErrors();
                            }
                        }
                        $("#editArea").busyLoad("hide");
                    }
                });
            });

        $(".js-add-operator").on("click",
            function(e) {
                e.preventDefault();
                ClearValidation();

                var $this = $(this),
                    dataId = $this.attr("data-id"),
                    selector = "#Add-Operator-" + dataId,
                    $form = $(selector);

                $.ajax({
                    url: $form.attr("action"),
                    type: "POST",
                    cache: false,
                    before: $("#eco-providers-list").busyLoad("show"),
                    data: $form.serialize(),
                    success: function(result) {
                        if (result.OK) {
                            location.href = '@Url.Action("Operators", "Eco")';
                        } else {
                            if (result.Errors != undefined) {

                                var errorModalHtml = DIV_START;
                                $.each(result.Errors,
                                    function(index, value) {
                                        errorModalHtml += value;
                                        errorModalHtml += "<br />";
                                    });
                                errorModalHtml += DIV_END;
                                ColorSingleRowValidationErrors();
                                $("#ErrorMessage").append(errorModalHtml);
                            }
                        }
                        $("#eco-providers-list").busyLoad("hide");
                    }
                });
            });
    });

    function ColorSingleRowValidationErrors() {

        var $this = $("#OperatorName");
        if ($this.val() === undefined || $this.val() === "" || $this.val().length > 110) {
            $this.addClass("bg-input-validation");
        } else {
            $this.removeClass("bg-input-validation");
        }

        $this = $("#ProductCategory");
        if ($this.val() === undefined || $this.val() === "" || $this.val().length > 100) {
            $this.addClass("bg-input-validation");
        } else {
            $this.removeClass("bg-input-validation");
        }

        $this = $("#Localization");
        if ($this.val().length > 20) {
            $this.addClass("bg-input-validation");
        } else {
            $this.removeClass("bg-input-validation");
        }

        $this = $("#ContactData");
        if ($this.val().length > 110) {
            $this.addClass("bg-input-validation");
        } else {
            $this.removeClass("bg-input-validation");
        }
    }

    function ColorValidationErrors() {

        $("input[name$='.OperatorName']").each(function () {
            var $this = $(this);
            if (this.value === undefined || this.value === "" || this.value.length > 110) {
                $this.addClass("bg-input-validation");
            } else {
                $this.removeClass("bg-input-validation");
            }
        });

        $("input[name$='.ProductCategory']").each(function () {
            var $this = $(this);
            if (this.value === undefined || this.value === "" || this.value.length > 100) {
                $this.addClass("bg-input-validation");
            } else {
                $this.removeClass("bg-input-validation");
            }
        });

        $("input[name$='.Localization']").each(function () {
            var $this = $(this);
            if (this.value.length > 20) {
                $this.addClass("bg-input-validation");
            } else {
                $this.removeClass("bg-input-validation");
            }
        });

        $("input[name$='.ContactData']").each(function () {
            var $this = $(this);
            if (this.value.length > 100) {
                $this.addClass("bg-input-validation");
            } else {
                $this.removeClass("bg-input-validation");
            }
        });
    }

    function ClearValidation() {
        $("#ErrorMessage").empty();
        $(".bg-input-validation").each(function () {
            $(this).removeClass("bg-input-validation");
        });
    }
</script>