﻿@model Targpiast.Models.News

@{
    ViewBag.Title = Model.NewsTitle;
}

<!-- CONTENT -->
<section>
    <div class="container">
        @if (User.Identity.IsAuthenticated)
        {
            <div style="margin-bottom: 40px">
                <section>
                    <a type="button" href="#"
                       data-toggle="modal"
                       data-target="#removeContent"
                       data-href='@Url.Action("DeleteArticle", "Eco", new {id = Model.NewsId})'
                       class="btn btn-primary btn-lg btn-block js-remove-content">Usuń ten artykuł</a>
                </section>
                <section>
                    <button type="button" class="btn btn-success btn-lg btn-block js-modify-news">Modyfikuj artykuł</button>
                </section>
            </div>
        }
        <div id="blog" class="row">

            <!-- BLOG ARTICLE -->

            <div class="prev-article row">

                <div class="blog-prev-date col-md-2 col-sm-2">
                    <span class="date">
                        @Model.NewsCreatedDate.Day <small>@Model.NewsCreatedDate.ToString("MMM yyyy")</small>
                    </span>
                    <span class="info hidden-xs">
                        <span class="block"><i class="fa fa-user"></i> dodany przez: <a href="#">TARGPIAST</a></span>
                    </span>
                </div>

                <div class="col-md-10 col-sm-10">

                    <h1 class="article-title"><a href="#"><span>@Model.NewsTitle</span></a></h1>

                    @if (!string.IsNullOrEmpty(Model.NewsTitlePhotoId))
                    {
                        <figure class="news-image-figure">
                            <a href="#">
                                <img src="~/Content/news-images/@Model.NewsTitlePhotoId" class="img-responsive" alt="blog" />
                            </a>
                        </figure>
                    }

                    <article>
                        @Html.Raw(Model.NewsText) 
                    </article>
                </div>

            </div>

        </div>
        <!-- /BLOG ARTICLE -->
    </div>
</section>
<!-- /CONTENT -->

<script>
    $(".js-modify-news").on("click",
        function () {
            window.location.href = '@Url.Action("AddNews", new {id = Model.NewsId})';
        });
</script>