﻿@using Targpiast.Models
@model IEnumerable<Product>

<div class="container">

    <div class="table-responsive">
        <table id="tablePriceList" class="table table-bordered table-striped">
            <thead>
            <tr>
                <th><i class="fa fa-list pull-right hidden-xs"></i> Nazwa produktu</th>
                <th><i class="fa fa-money pull-right hidden-xs"></i> Cena</th>
                <th><i class="fa fa-database pull-right hidden-xs"></i> Jednostka</th>
                <th><i class=""></i> Akcja</th>
            </tr>
            </thead>
            <tbody>
            @Html.Action("NewProduct", "Price", new { priceListId = ViewBag.PriceListId })
            @using (Html.BeginForm(null, null, FormMethod.Post, new {id = "priceListForm"}))
            {
                @Html.EditorForModel()
            }
            </tbody>
        </table>
    </div>
</div>
