﻿@model Targpiast.Models.PriceList

<div class="container">
    <h4>@Model.PriceListDateTime.ToShortDateString()</h4>
    <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <th><i class="fa fa-list pull-right hidden-xs"></i> Nazwa produktu</th>
                <th><i class="fa fa-money pull-right hidden-xs"></i> Cena</th>
                <th><i class="fa fa-database pull-right hidden-xs"></i> Jednostka</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var product in Model.Products.OrderBy(p => p.ProductName))
            {
                <tr>
                    <td>@product.ProductName</td>
                    <td>@product.Price</td>
                    <td>@product.Unit</td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>