﻿@using Targpiast.Models
@model IEnumerable<PriceList>

@{
    ViewBag.Title = "Notowania cenowe";
    var selId = ((PriceList)ViewBag.PriceListToShow).PriceListId;
}

<section class="std-page-header bg2"></section>

<section id="price-list">
    <div id="editArea" class="container">
        <h2>
            Notowania cenowe
        </h2>


        <div class="col-sm-12 col-md-4 padding-top10">
            @Html.ActionLink("Drukuj cennik", "GeneratePdf", (PriceList)ViewBag.PriceListToShow, new { target = "_blank", type = "button", @class = "btn btn-primary  full-td-button" })
        </div>
        <div class="col-sm-12 col-md-4 padding-top10">
            <h4 class="before-dropdown pull-right" style="margin-top: 4px">Pozycje archiwalne:</h4>
        </div>
        <div class="col-sm-12 col-md-4 padding-top10">
            @Html.DropDownList("priceListDropDownList", new SelectList(Model, "PriceListId", "PriceListDateTime"), new { @class = "select  full-td-button" })
        </div>
        <div class="col-sm-12 col-md-12 padding-top10">
            <div class="divider half-margins"></div>
        </div>
        <div class="col-sm-12 col-md-4 padding-top10">
            @if (User.Identity.IsAuthenticated)
            {
                <a type="button" href="#"
                   data-toggle="modal"
                   data-target="#removeContentPriceList"
                   data-id="@(((PriceList) ViewBag.PriceListToShow).PriceListId)"
                   class="btn btn-primary remove-table full-td-button"><i class="icon-trash icon-large"></i>Usuń cennik</a>
            }
        </div>
        <div class="col-sm-12 col-md-4 padding-top10">
            @if (User.Identity.IsAuthenticated)
            {
                <button type="button" class="btn btn-success js-copy-form full-td-button"> Utwórz nowy cennik</button>
            }
        </div>
        <div class="col-sm-12 col-md-4 padding-top10">
            @if (User.Identity.IsAuthenticated)
            {
                <button type="button" class="btn btn-success js-submit-form full-td-button"> Zmodyfikuj cennik</button>
            }
        </div>
        <div class="col-sm-12 col-md-12 padding-top10">
            @if (User.Identity.IsAuthenticated)
            {
                <div class="divider half-margins"></div>
            }
        </div>
        <div id="ErrorMessage" class="col-md-12  padding-top10"></div>
    </div>
    @(User.Identity.IsAuthenticated ? Html.Action("PriceListEditor", "Price", new { model = (PriceList)ViewBag.PriceListToShow }) : Html.Partial("_PriceList", (PriceList)ViewBag.PriceListToShow))
</section>

<!-- modal dialog for PriceList -->
<div class="modal fade" id="removeContentPriceList" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <!-- modal header -->
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Usuń element</h4>
            </div><!-- /modal header -->
            <!-- modal body -->
            <div class="modal-body">
                Czy na pewno chcesz usunąć ten element ? Zmiany są nieodwracalne!
            </div>
            <!-- /modal body -->

            <div class="modal-footer">
                <!-- modal footer -->
                <button class="btn btn-default" data-dismiss="modal">Anuluj</button> <a id="deleteButtonPriceList" data-dismiss="modal" data-id="" data-mode="" type="button" href="#" class="btn btn-primary">Usuń</a>
            </div><!-- /modal footer -->
        </div>
    </div>
</div>

<script>
    var DIV_START =
        "<div class='alert alert-danger'><button type='button' class='close' data-dismiss='alert'><span aria-hidden='true'>&times;</span><span class='sr-only'>Close</span></button>";
    var DIV_END =
        "</div>";

    $(document).ready(function () {
        var selectedId = '@selId';
        $("#priceListDropDownList").val(selectedId);
    });

    $("#priceListDropDownList").change(function () {
        $.ajax({
            type: "POST",
            url: '@Url.Action("Index","Price")',
            data: {
                id: $(this).val()
            }
        });
    });

    $("#price-list").on("click", ".remove-row", function () {
        var $this = $(this),
            id = $this.attr("data-id");

        $("#deleteButtonPriceList").attr("data-id", id);
        $("#deleteButtonPriceList").attr("data-mode", 'product');
    });

    $("#price-list").on("click", ".remove-table", function () {
        var $this = $(this),
            id = $this.attr("data-id");

        $("#deleteButtonPriceList").attr("data-id", id);
        $("#deleteButtonPriceList").attr("data-mode", 'priceList');
    });


    $("#deleteButtonPriceList").on("click",
        function () {
            ClearValidation();
            var $this = $(this),
                id = $this.attr("data-id"),
                mode = $this.attr("data-mode");

            if (mode === 'product') {
                $.ajax({
                    url: '@Url.Action("DeleteProduct", "Price")',
                    data: {
                        id: id
                    },
                    success: $('#' + id).remove()
                });
            } else {
                $.ajax({
                    url: '@Url.Action("DeletePriceList", "Price")',
                    before: $("#editArea").busyLoad("show"),
                    data: {
                        id: id
                    },
                    success: function () {
                        $("#editArea").busyLoad("hide");
                        location.href = '@Url.Action("Index", "Price")';
                    }
                });
            }
        });


    $(".js-copy-form").on("click",
        function(e) {
            e.preventDefault();
            ClearValidation();
            var $form = $("#priceListForm"),
                url = '@Url.Action("CopyPriceList", "Price")';

            $.ajax({
                url: url,
                type: "POST",
                cache: false,
                data: $form.serialize(),
                before: $("#editArea").busyLoad("show"),
                success: function(result) {
                    if (result.OK) {
                        location.href = '@Url.Action("Index", "Price")';
                    } else {
                        if (result.Errors != undefined) {

                            var errorModalHtml = DIV_START;
                            $.each(result.Errors,
                                function(index, value) {
                                    errorModalHtml += value;
                                    errorModalHtml += "<br />";
                                });
                            errorModalHtml += DIV_END;

                            ColorValidationErrors();
                            $("#ErrorMessage").append(errorModalHtml);
                        }
                    }
                    $("#editArea").busyLoad("hide");
                }
            });
        });

    $(".js-submit-form").on("click", function (e) {
        e.preventDefault();
        ClearValidation();
        var $form = $("#priceListForm"),
            url = '@Url.Action("SavePriceList", "Price")',
            id = $(this).attr("data-id");

        $.ajax({
            url: url,
            type: "POST",
            cache: false,
            data: $form.serialize(),
            before: $("#editArea").busyLoad("show"),
            success: function (result) {
                if (result.OK) {
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("Index","Price")',
                        data: {
                            id: id
                        }
                    });
                } else {
                    if (result.Errors != undefined) {

                        var errorModalHtml = DIV_START;
                        $.each(result.Errors, function (index, value) {
                            errorModalHtml += value;
                            errorModalHtml += "<br />";
                        });
                        errorModalHtml += DIV_END;

                        ColorValidationErrors();
                        $("#ErrorMessage").append(errorModalHtml);
                    }
                }
                $("#editArea").busyLoad("hide");
            }
        });
    });

    $(".js-add-row").on("click", function (e) {
        e.preventDefault();
        ClearValidation();
        var $form = $("#newProductForm"),
            url = $form.attr('action');

        $.ajax({
            url: url,
            type: "POST",
            cache: false,
            data: $form.serialize(),
            success: function (result) {
                if (result.OK) {
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("Index","Price")',
                        data: {
                            id: result.ID
                        }
                    });
                } else {
                    if (result.Errors != undefined) {

                        var errorModalHtml = DIV_START;
                        $.each(result.Errors,
                            function(index, value) {
                                errorModalHtml += value;
                                errorModalHtml += "<br />";
                            });
                        errorModalHtml += DIV_END;

                        ColorValidationErrorsSingle();
                        $("#ErrorMessage").append(errorModalHtml);
                    }
                }
            }
        });
    });

    function ColorValidationErrorsSingle() {

        $("input[name='ProductName']").each(function() {
            var $this = $(this);
            if (this.value === undefined || this.value === "" || this.value.length > 50) {
                $this.addClass("bg-input-validation");
            } else {
                $this.removeClass("bg-input-validation");
            }
        });

        $("input[name='Price']").each(function() {
            var $this = $(this);
            if (this.value === undefined || this.value === "" || this.value.length > 20) {
                $this.addClass("bg-input-validation");
            } else {
                $this.removeClass("bg-input-validation");
            }
        });

        $("input[name='Unit']").each(function() {
            var $this = $(this);
            if (this.value === undefined || this.value === "" || this.value.length > 10) {
                $this.addClass("bg-input-validation");
            } else {
                $this.removeClass("bg-input-validation");
            }
        });
    }

    function ColorValidationErrors() {

        $("input[name$='.ProductName']").each(function() {
            var $this = $(this);
            if (this.value === undefined || this.value === "" || this.value.length > 50) {
                $this.addClass("bg-input-validation");
            } else {
                $this.removeClass("bg-input-validation");
            }
        });

        $("input[name$='.Price']").each(function() {
            var $this = $(this);
            if (this.value === undefined || this.value === "" || this.value.length > 20) {
                $this.addClass("bg-input-validation");
            } else {
                $this.removeClass("bg-input-validation");
            }
        });

        $("input[name$='.Unit']").each(function() {
            var $this = $(this);
            if (this.value === undefined || this.value === "" || this.value.length > 10) {
                $this.addClass("bg-input-validation");
            } else {
                $this.removeClass("bg-input-validation");
            }
        });
    }

    function ClearValidation() {
        $("#ErrorMessage").empty();
        $(".bg-input-validation").each(function() {
            $(this).removeClass("bg-input-validation");
        });
    }
</script>