﻿@{
    ViewBag.Title = "Kontakt";
}

<section class="std-page-header bg5"></section>

<section>
    <div class="container">
        <h2 class="page-title">
            Dane kontaktowe
        </h2>
        <div class="col-sm-12 col-md-6">
            <div class="panel panel-epona">
                <div class="panel-heading">
                    <h3 class="panel-title">Członkowie zarządu</h3>
                </div>
                <div class="panel-body" style="height:134px">
                    <div class="col-xs-4">
                        Prezes:
                    </div>
                    <div class="col-xs-8">
                        Jolanta <b>Witosławska</b>
                    </div>
                    <div class="col-xs-4">
                        Wiceprezes:
                    </div>
                    <div class="col-xs-8">
                        Maria <b>Łodożyńska</b>
                    </div>
                    <div class="col-xs-4">
                        Wiceprezes:
                    </div>
                    <div class="col-xs-8">
                        Marek <b>Świerk</b>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6">
            <div class="panel panel-epona">
                <div class="panel-heading">
                    <h3 class="panel-title">Dane kontaktowe firmy</h3>
                </div>
                <div class="panel-body" style="height:134px">
                    <div>
                        Targpiast Sp. z o.o.
                    </div>
                    <div>
                        ul. Obornicka 235- 237
                    </div>
                    <div>
                        51-114 Wrocław
                    </div>
                    <div>
                        <a href="http://www.targpiast.com.pl" target="_blank">www.targpiast.com.pl</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6">
            <div class="panel panel-epona">
                <div class="panel-heading">
                    <h3 class="panel-title">Sekretariat</h3>
                </div>
                <div class="panel-body" style="height:134px">
                    <div>
                        Krystyna <b>Roguszczak</b>
                    </div>
                    <div>
                        Tel.: <a href="tel:+48-71-712-5900">+48-71-712-5900</a>
                    </div>
                    <div>
                        E-mail: <a href="mailto:sekretariat@targpiast.com.pl">sekretariat@targpiast.com.pl</a>
                    </div>
                    <div>
                        Fax: <a href="fax:+48-71-712-5915">+48-71-712-5915</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6">
            <div class="panel panel-epona">
                <div class="panel-heading">
                    <h3 class="panel-title">Kierownicy placu</h3>
                </div>
                <div class="panel-body" style="height: 134px">
                    <div>
                        Tel.: <a href="tel:+48-71-712-5910">+48-71-712-5910</a>
                    </div>
                    <div>
                        Krzysztof <b>Fryc</b>
                    </div>
                    <div>
                        Adam <b>Iwanków</b>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6">
            <div class="panel panel-epona">
                <div class="panel-heading">
                    <h3 class="panel-title">Główna księgowa</h3>
                </div>
                <div class="panel-body" style="height: 134px">
                    <div>
                        Anna <b>Domagała</b>
                    </div>
                    <div>
                        Tel.: <a href="tel:+48-71-712-5905">+48-71-712-5905</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6">
            <div class="panel panel-epona">
                <div class="panel-heading">
                    <h3 class="panel-title">Księgowość</h3>
                </div>
                <div class="panel-body" style="height: 134px">
                    <div>
                        Tel.: <a href="tel:+48-71-712-5912">+48-71-712-5912</a>
                    </div>
                    <div>
                        Tel.: <a href="tel:+48-71-712-5913">+48-71-712-5913</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6">
            <div class="panel panel-epona">
                <div class="panel-heading">
                    <h3 class="panel-title">Promocja, marketing</h3>
                </div>
                <div class="panel-body" style="height: 134px">
                    <div>
                        Gabriela <b>Łukomska</b>
                    </div>
                    <div>
                        Tel.: <a href="tel:+48-71-712-5930">+48-71-712-5930</a>
                    </div>
                    <div>
                        Tel. kom.: <a href="tel:+48-516-359-417">+48-516-359-417</a>
                    </div>
                    <div>
                        E-mail: <a href="mailto:g.lukomska@targpiast.com.pl">g.lukomska@targpiast.com.pl</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6">
            <div class="panel panel-epona">
                <div class="panel-heading">
                    <h3 class="panel-title">Promocja, marketing</h3>
                </div>
                <div class="panel-body" style="height: 134px">
                    <div>
                        Elżbieta <b>Bartela</b>
                    </div>
                    <div>
                        Tel. kom.: <a href="tel:+48-71-712-5930">+48-71-712-5930</a>
                    </div>
                    <div>
                        E-mail: <a href="mailto:e.bartela@targpiast.com.pl">e.bartela@targpiast.com.pl</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6">
            <div class="panel panel-epona">
                <div class="panel-heading">
                    <h3 class="panel-title">Szef ochrony</h3>
                </div>
                <div class="panel-body" style="height: 134px">
                    <div>
                        Mirosław <b>Brusiło</b>
                    </div>
                    <div>
                        Tel.: <a href="tel:+48-71-712-5920">+48-71-712-5920</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6">
            <div class="panel panel-epona">
                <div class="panel-heading">
                    <h3 class="panel-title">Informacja o cenach</h3>
                </div>
                <div class="panel-body" style="height: 134px">
                    <div>
                        Tel.: <a href="tel:+48-71-712-5900">+48-71-712-5900</a>
                    </div>
                    <div>
                        Tel.: <a href="tel:+48-71-712-5930">+48-71-712-5930</a>
                    </div>
                    <div>
                        <a href="http://www.targpiast.com.pl" target="_blank">www.targpiast.com.pl</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>