﻿@{
    ViewBag.Title = "Map";
}

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD0LIplNKXWARof6criXMTkcvvUzM48Ra0" type="text/javascript"></script>
<script src="~/Scripts/gmaps.js"></script>
<script type="text/javascript">

    jQuery(document).ready(function(){

        /**BASIC GOOGLE MAP**/

        var map = new GMaps({
            div: '#map',
            lat: 51.1601387,
            lng: 17.0091208
        });

        // ReSharper disable once UnusedLocals
        var marker = map.addMarker({
            lat: 51.1601387,
            lng: 17.0091208,
            title: 'Targpiast sp. z o. o.'
        });


        /**PANORAMA GOOGLE MAP**/
        // ReSharper disable once UnusedLocals
        var panorama = GMaps.createPanorama({
            el: '#panorama',
            lat: 51.1593676,
            lng: 17.0079329
        });

    });

</script>

<section class="std-page-header bg5"></section>

<section>
    <div class="container">
        <h4>Mapa dojazdowa</h4>
        <div id="map"></div>

        <hr class="half-margins invisible" />

        <h4>Widok na wjazd</h4>
        <div id="panorama"></div>
    </div>
</section>

