﻿@using Targpiast.Models
@model LoginViewModel

@{
    ViewBag.Title = "Panel administracyjny";
}

<section>
    <div class="container">
        <div class="row">

            <!-- LOGIN -->
            <div class="col-md-offset-2 col-sm-offset-2 col-md-8 col-sm-8">

            
            @using (Html.BeginForm("Login", "Account", new {ViewBag.ReturnUrl}, FormMethod.Post, new {@class = "sky-form boxed", role = "form"}))
            {
                    <header>Panel administracyjny</header>

                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <fieldset>
                        <section>
                            <label class="input">
                                <i class="icon-append fa fa-user-o"></i>
                                @Html.TextBoxFor(m => m.User, new { placeholder = "Nazwa użytkownika" })
                                @Html.ValidationMessageFor(m => m.User, "", new { @class = "text-danger" })
                            </label>
                        </section>

                        <section>
                            <label class="input">
                                <i class="icon-append fa fa-lock"></i>
                                @Html.PasswordFor(m => m.Password, new { placeholder = "Hasło" })
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                            </label>
                        </section>
                    </fieldset>
                    <footer>
                        <button type="submit" class="sky-form button">Zaloguj</button>
                    </footer>
            }
            </div>
            <!-- /LOGIN -->

        </div>
    </div>
</section>