﻿@{
    ViewBag.Title = "Dodaj galerię foto";
}

<main>
    <section>
        <div class="container">
            <h3>Dodawanie <strong>Galerii</strong></h3>
                @Html.TextBox("galleryTitle", null, new {@class = "form-control input-lg", placeholder = "Podaj tytuł galerii..." })
        </div>
    </section>
    <section>
        <div class="container">
            <div id="dropzone">
                @using (Html.BeginForm("PhotoUpload", "Gallery", FormMethod.Post, new { @class = "dropzone dz-clickable", id = "dropzone-form" }))
                {
                    <div class="dz-message">
                        Przeciągnij pliki tutaj żeby wgrać je do <strong>galerii</strong>.
                    </div>
                }
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <button type="button" class="btn btn-success full-td-button js-add-gallery">Dodaj galerię</button>
        </div>
    </section>
</main>

<script type="text/javascript">
    Dropzone.options.dropzoneForm = {
        paramName: "file",
        maxFilesize: 5,
        maxFiles: 50,
        acceptedFiles: "image/*",
        dictMaxFilesExceeded: "Galeria może zawierać maksymalnie 48 zdjęć",
        dictFileTooBig: "Zdjęcie jest za duże ({{filesize}}MB). Maksymalny rozmiar zdjęcia to: {{maxFilesize}}MB."
    };

    $(".js-add-gallery").on("click", function () {

        var titleFromTextBox = $("#galleryTitle").val(),
            url = '@Url.Action("AddGallery")';
        var dataIn = {
            title: titleFromTextBox
        };

        $.ajax({
            url: url,
            type: "POST",
            cache: false,
            data: dataIn,
            complete: function () {
                location.href = '@Url.Action("Index", "Gallery")';
            }
        });
    });
</script>