﻿@using System.Web.Hosting
@model Targpiast.Models.Photo

@{
    ViewBag.Title = "Galeria " + Model.PhotoGalleryName;
}

<section>
    <div class="container">
        @if (User.Identity.IsAuthenticated)
        {
            <div style="margin-bottom: 40px">
                <section>
                    <a type="button" href="#"
                       data-toggle="modal"
                       data-target="#removeContent"
                       data-href='@Url.Action("DeletePhotoGallery", "Gallery", new {id = Model.PhotoGalleryId})'
                       class="btn btn-primary btn-lg btn-block js-remove-content">Usuń tą galerię</a>
                </section>
            </div>
        }
        <h3>Galeria: <strong>@Model.PhotoGalleryName</strong></h3>
        <div class="row">
            <ul class="nav nav-pills isotope-filter isotope-filter" data-sort-id="isotope-list" data-option-key="filter"></ul>
            <div class="row lightbox" data-plugin-options='{"delegate": "a", "gallery": {"enabled": true}}'>
                <ul class="sort-destination isotope" data-sort-id="isotope-list">
                    @foreach (var gallery in Directory.GetFiles(HostingEnvironment.MapPath("~/Content/gallery-images/") + Model.PhotoGalleryId))
                    {
                        var name = new FileInfo(gallery).Name;
                        <li class="isotope-item col-sm-6 col-md-3 development">
                            <div class="box-content thumbnail text-center">
                                <a href="~/Content/gallery-images/@Model.PhotoGalleryId/@name" class="item-image">
                                    <img class="img-responsive" src="~/Content/gallery-images/@Model.PhotoGalleryId/thumbinals/@name" alt=""/>
                                </a>
                            </div>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</section>