﻿@using System.Web.Hosting
@model List<Targpiast.Models.Photo>

@{
    ViewBag.Title = "Galeria";
}

<!-- CONTENT -->
<section>
    <div class="container">
        <h3>Galeria <strong>Foto</strong></h3>
        
        @if (User.Identity.IsAuthenticated)
        {
            <div>
                <section>
                    <a type="button" href="@Url.Action("AddPhotoGallery")" class="btn btn-success btn-lg btn-block js-add-news">Dodaj galerię</a>
                </section>
            </div>
        }

        <div class="row">

            <ul class="nav nav-pills isotope-filter isotope-filter" data-sort-id="isotope-list" data-option-key="filter">
            </ul>

            <ul class="sort-destination isotope" data-sort-id="isotope-list">
                @foreach (var gallery in Model)
                {
                    var photoCol = Directory.GetFiles(HostingEnvironment.MapPath("~/Content/gallery-images/") + gallery.PhotoGalleryId);
                    if (photoCol.Length > 0)
                    {
                        var random = new Random();
                        var name = new FileInfo(photoCol[random.Next(photoCol.Length)]).Name;

                        <li class="isotope-item col-sm-6 col-md-3 development"><!-- item -->
                            <!-- item -->
                            <div class="item-box">
                                <figure>
                                    <a class="item-hover" href="@Url.Action("Gallery", "Gallery", new {id = gallery.PhotoGalleryId})">
                                        <span class="overlay color2"></span>
                                        <span class="inner">
                                            <span class="block fa fa-plus fsize20"></span>
                                            OBEJRZYJ <strong>GALERIĘ</strong>
                                        </span>
                                    </a>
                                    <img class="img-responsive" src="~/Content/gallery-images/@gallery.PhotoGalleryId/thumbinals/@name" width="260" height="260" alt="">
                                </figure>
                                <div class="item-box-desc">
                                    <h4>@gallery.PhotoGalleryName</h4>
                                </div>
                            </div>
                        </li>
                    }
                }
            </ul>
        </div>
    </div>
</section>

<!-- /CONTENT -->
