﻿@using Targpiast.Models
@model List<Video>

@{
    ViewBag.Title = "Wideo-Galeria";
}
@if (User.Identity.IsAuthenticated)
{
    @Html.Partial("EditorTemplates/NewVideo", new Video())
}

<style>
    .center-cropped {
        object-fit: none; /* Do not scale the image */
        object-position: center; /* Center the image within the element */
        height: 191px !important;
        width: 255px;
    }
</style>

@*TODO  Zmiana video na to z Vimeo Teraz Wieś *@
<section>
    <div class="container">
        <h3>Galeria <strong>Wideo</strong></h3>
        @for (var i = 0; i <= Model.Count; i++)
        {
            <div class="row">
                @if (i != Model.Count)
                {
                    <div id="@Model[i].VideoId" class="col-sm-3 col-md-3">
                        <div class="box-content thumbnail text-center">
                            <a href="@Model[i].VideoWatchUrl()" class="item-image lightbox popup-youtube">
                                <img class="img-responsive" src="@Model[i].VideoTitleImage()" alt=""/>
                                <h3>
                                    <span class="fsize13">@Model[i].VideoName</span>
                                </h3>
                            </a>
                            @if (User.Identity.IsAuthenticated)
                            {
                                <a type="button" href="#" 
                                   data-toggle="modal"
                                   data-target="#removeContent" 
                                   data-href='@Url.Action("DeleteVideo", "Gallery", new {id = Model[i].VideoId})' 
                                   class="btn btn-primary btn-lg btn-block js-remove-content">Usuń powyższe wideo</a>
                            }
                        </div>
                    </div>
                }
                else
                {
                    i++;
                    <div id="vimeoTerazWies" class="col-sm-3 col-md-3">
                        <div class="box-content thumbnail text-center">
                            <a href="https://player.vimeo.com/video/234546720?byline=0&portrait=0&autoplay=1" class="item-image lightbox popup-youtube">
                                <img class="img-responsive center-cropped" src="https://i.vimeocdn.com/video/677158294_640.webp" alt=""/>
                                <h3>
                                    <span class="fsize13">Teraz Wieś</span>
                                </h3>
                            </a>
                        </div>
                    </div>
                }
                @if (i + 1 < Model.Count)
                {
                    i++;
                    <div id="@Model[i].VideoId" class="col-sm-3 col-md-3">
                        <div class="box-content thumbnail text-center">
                            <a href="@Model[i].VideoWatchUrl()" class="item-image lightbox popup-youtube">
                                <img class="img-responsive" src="@Model[i].VideoTitleImage()"/>
                                <h3>
                                    <span class="fsize13">@Model[i].VideoName</span>
                                </h3>
                            </a>
                            @if (User.Identity.IsAuthenticated)
                            {
                                <a type="button" href="#" 
                                   data-toggle="modal"
                                   data-target="#removeContent" 
                                   data-href='@Url.Action("DeleteVideo", "Gallery", new {id = Model[i].VideoId})' 
                                   class="btn btn-primary btn-lg btn-block js-remove-content">Usuń powyższe wideo</a>
                            }
                        </div>
                    </div>
                }

                @if (i + 1 < Model.Count)
                {
                    i++;
                    <div id="@Model[i].VideoId" class="col-sm-3 col-md-3">
                        <div class="box-content thumbnail text-center">
                            <a href="@Model[i].VideoWatchUrl()" class="item-image lightbox popup-youtube">
                                <img class="img-responsive" src="@Model[i].VideoTitleImage()" alt=""/>
                                <h3>
                                    <span class="fsize13">@Model[i].VideoName</span>
                                </h3>
                            </a>
                            @if (User.Identity.IsAuthenticated)
                            {
                                <a type="button" href="#" 
                                   data-toggle="modal"
                                   data-target="#removeContent" 
                                   data-href='@Url.Action("DeleteVideo", "Gallery", new {id = Model[i].VideoId})' 
                                   class="btn btn-primary btn-lg btn-block js-remove-content">Usuń powyższe wideo</a>
                            }
                        </div>

                    </div>
                }

                @if (i + 1 < Model.Count)
                {
                    i++;
                    <div id="@Model[i].VideoId" class="col-sm-3 col-md-3">
                        <div class="box-content thumbnail text-center">
                            <a href="@Model[i].VideoWatchUrl()" class="item-image lightbox popup-youtube">
                                <img class="img-responsive" src="@Model[i].VideoTitleImage()" alt=""/>
                                <h3>
                                    <span class="fsize13">@Model[i].VideoName</span>
                                </h3>
                            </a>
                            @if (User.Identity.IsAuthenticated)
                            {
                                <a type="button" href="#" 
                                   data-toggle="modal"
                                   data-target="#removeContent" 
                                   data-href='@Url.Action("DeleteVideo", "Gallery", new {id = Model[i].VideoId})' 
                                   class="btn btn-primary btn-lg btn-block js-remove-content">Usuń powyższe wideo</a>
                            }
                        </div>
                    </div>
                }

                @if (i == Model.Count - 1)
                {
                    i++;
                    <div id="vimeoTerazWies" class="col-sm-3 col-md-3">
                        <div class="box-content thumbnail text-center">
                            <a href="https://player.vimeo.com/video/234546720?byline=0&portrait=0&autoplay=1" class="item-image lightbox popup-youtube">
                                <img class="img-responsive center-cropped" src="https://i.vimeocdn.com/video/677158294_640.webp" alt="" />
                                <h3>
                                    <span class="fsize13">Teraz Wieś</span>
                                </h3>
                            </a>
                        </div>
                    </div>
                }
            </div>

        }
    </div>
</section>


<!-- modal dialog -->
<div class="modal fade" id="removeContent" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header"><!-- modal header -->
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Usuń materiał wideo</h4>
            </div><!-- /modal header -->

            <!-- modal body -->
            <div class="modal-body">
                Czy na pewno chcesz usunąć ten element ? Zmiany są nieodwracalne!
            </div>
            <!-- /modal body -->

            <div class="modal-footer"><!-- modal footer -->
                <button class="btn btn-default" data-dismiss="modal">Anuluj</button> <a id="deleteButton" type="button" href="#" class="btn btn-primary">Usuń</a>
            </div><!-- /modal footer -->
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function() {
        $('.popup-youtube').magnificPopup({
            disableOn: 700,
            type: 'iframe',
            mainClass: 'mfp-fade',
            removalDelay: 160,
            preloader: false,
            fixedContentPos: false
        });
    });
</script>
