﻿@model Targpiast.Models.EcoOperator

<tr id="oper-@Model.OperatorId">
    @Html.HiddenFor(p => p.OperatorId)
    <td class="fullfill">@Html.EditorFor(p => p.OperatorName, new { htmlAttributes = new { @class = "full-td-editor form-control" } })</td>
    <td class="fullfill">@Html.EditorFor(p => p.ProductCategory, new { htmlAttributes = new { @class = "full-td-editor form-control" } })</td>
    <td class="fullfill">@Html.EditorFor(p => p.Localization, new { htmlAttributes = new { @class = "full-td-editor form-control" } })</td>
    <td class="fullfill">@Html.EditorFor(p => p.ContactData, new { htmlAttributes = new { @class = "full-td-editor form-control" } })</td>
    <td class="fullfill">
        <a type="button" href="#"
           data-toggle="modal"
           data-target="#removeContentEcoOperators"
           data-mode="oper"
           data-id="@Model.OperatorId"
           class="btn btn-primary remove-row full-td-button">Usuń</a>
    </td>
</tr>
