﻿@model Targpiast.Models.EcoOperator

@using (Html.BeginForm("AddOperator", "Eco", FormMethod.Post, new {id = "Add-Operator-" + Model.OperatorId}))
{
    <tr>
        <td class="fullfill">@Html.EditorFor(p => p.OperatorName, new {htmlAttributes = new {@class = "full-td-editor form-control" } })</td>
        <td class="fullfill">@Html.EditorFor(p => p.ProductCategory, new {htmlAttributes = new {@class = "full-td-editor form-control" } })</td>
        <td class="fullfill">@Html.EditorFor(p => p.Localization, new {htmlAttributes = new {@class = "full-td-editor form-control" } })</td>
        <td class="fullfill">@Html.EditorFor(p => p.ContactData, new {htmlAttributes = new {@class = "full-td-editor form-control" } })</td>
        <td class="fullfill"><a class="btn btn-sm btn-success js-add-operator full-td-button" data-id="@Model.OperatorId"> Dodaj</a></td>
    </tr>
}